    <table class="tablebg breadcrumb" width="100%" cellspacing="{$CA_SPACING}" cellpadding="0" style="margin-top: 5px;">
    <tr>
        <td class="row1">
            <p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a><!-- IF U_INFORUM --> &#187; <a href="/forum.php">{L_FORUM}</a><!-- ENDIF --><!-- BEGIN navlinks --> &#187; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></p>
        </td>
    <tr>
    </tr>
            <td class="navbar" style="font-size:10pt; padding-top:1px" colspan="3">
            <a href="<!-- IF TOPIC_TITLE -->{U_TOPIC}<!-- ELSE -->{U_VIEW_FORUM}<!-- ENDIF -->"><img title="{L_RELOAD_PAGE}" class="inlineimg" src="themes/1thank/pics/navbits_finallink_ltr.gif" alt="{L_RELOAD_PAGE}" border="0">&nbsp;&nbsp;<strong><!-- IF TOPIC_TITLE -->{TOPIC_TITLE}<!-- ELSE -->{FORUM_NAME}<!-- ENDIF --></strong></a>
            </td>
    </tr>
    </table>