<!-- INCLUDE themes/1thank/templates/overall_header.html -->

<!-- IF S_NOTICE -->
<!-- IF S_ERROR --><div id="errorbox" ><!-- ELSE --><div id="successbox" ><!-- ENDIF -->
<span class="errorbox-title">{L_MESSAGE}</span>
<p>{S_ERROR_MESS}</p>
</div>
<!-- ENDIF -->

<!-- IF ACTION == add -->
<script type="text/javascript" src="bbcode.js"></script>
<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<td>
			<div class="caption">
				<div class="cap-left">
					<div class="cap-right">
						<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnMake_an_Offer');"><img title="{L_EXPAND_ITEM}" id="nnMake_an_Offerimg" src="themes/1thank/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>{L_MAKE_OFFER}
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr valign="middle">
		<td  class="row3" >
			<div id="nnMake_an_Offer">
				<form name="add" method=post action="{U_ACTION}">
				{HIDDEN}
				<table class="tablebg" width="100%" cellspacing="0">
					<tr>
						<td class="row1" width="35%"><strong class="genmed">{L_NAME}:</strong></td>
						<td class="row2"><input type="text" name="name" size="80" /></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><strong class="genmed">{L_DESCRIPTION}:</strong><br /><span class="gensmall">{L_DESCRIPTION_EXPLAIN}</span><br /><br />
						<!-- IF S_SMILIES_ALLOWED -->
							<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
							<tr>
								<td class="gensmall" align="center"><strong>{L__SMILIES}</strong></td>
							</tr>
							<tr>
								<td align="center">
<!-- BEGIN smiley -->
									<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
<!-- END smiley -->
								</td>
							</tr>

							<!-- IF S_SHOW_SMILEY_LINK -->
								<tr>
									<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L__MORE_SMILIES}</a></td>
								</tr>
							<!-- ENDIF -->

							</table>
						<!-- ENDIF -->
					</td>
						<td class="row2">
							<script type="text/javascript">
								// <![CDATA[

								var form_name = 'add';
								var text_name = 'msg';
								// ]]>
							</script>

							<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<!-- INCLUDE themes/1thank/templates/posting_buttons.html -->
							<tr>
								<td valign="top" style="width: 100%;"><textarea name="msg" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{MESSAGE}</textarea></td>
								<!-- IF S_BBCODE_ALLOWED -->
								<td width="80" align="center" valign="top">
									<script type="text/javascript">
									// <![CDATA[
										colorPalette('v', 7, 6)
									// ]]>
									</script>
								</td>
								<!-- ENDIF -->
							</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="row1" width="35%"><strong class="genmed">{L_CAT_SELECT}:</strong></td>
						<td class="row2">{S_CAT_SELECT}</td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type=submit value='{L_SUBMIT}' /></td>
					</tr>
				</table>
				</form>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="7" valign="middle" align="center"></td>
	</tr>
</table>
<br clear="all" />
<!-- ELSEIF ACTION == view_vote -->
<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<td>
			<div class="caption">
				<div class="cap-left">
					<div class="cap-right">
						<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnview_vote');"><img title="{L_EXPAND_ITEM}" id="nnview_voteimg" src="themes/1thank/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>{L_EDIT_OFFER}
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr valign="middle">
		<td  class="row3" >
			<div id="nnview_vote">
<!-- IF PAGINATION -->

				<div class="pagination" style="float: right; margin: 15px 0 15px 0">
					<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span>
				</div>
<!-- ENDIF -->
				<table style="border-collapse: collapse;" align="center" border="1" bordercolor="#0033FF" cellpadding="1" cellspacing="0" width="100%">
					<tbody>
						<tr>
							<td class="row1" colspan="2" align="center"><strong>{L_AVATAR_CATEGORY}</strong></td>
						</tr>
<!-- BEGIN voterlist -->
						<tr>
							<td class="row2" align="center" width="20%">
							{voterlist.AVATAR}
							</td>
							<td class="row2">
							<div class="pagination" style="float: left; margin: 0px 15px 2px 0px">
								{voterlist.JOINED}
							</div>
							<div class="pagination" style="float: right; margin: 0px 0px 2px 15px">
								{PROFILE_IMG}&nbsp;{PM_IMG}&nbsp;{DELETE_IMG}
							</div>
							<br clear="all" />
							<div class="postauthor"<!-- IF voterlist.VOTER_COLOUR --> style="color: {voterlist.VOTER_COLOUR}"<!-- ENDIF -->>{voterlist.NAME}</div>
							<!-- IF voterlist.ONLINE_IMG && voterlist.S_ONLINE --><div class="postonline">{voterlist.ONLINE_IMG}</div><!-- ENDIF -->
							<!-- IF voterlist.RANK_TITLE --><div class="posterrank">{voterlist.RANK_TITLE}</div><!-- ENDIF -->
							<div><img src="themes/1thank/pics/pic_uploaded.gif" alt="{L_UPLOAD}" title="{L_UPLOAD}" border="0">&nbsp;{voterlist.F_UPLOADED}</div>
							<div><img src="themes/1thank/pics/pic_downloaded.gif" alt="{L_DOWNLOAD}" title="{L_DOWNLOAD}" border="0">&nbsp;{voterlist.F_DOWNLOADED}</div>
							<div><img src="themes/1thank/pics/pic_ratio.gif" alt="{L_RATIO}" title="{L_RATIO}" border="0">&nbsp;{voterlist.RATIO}</div>
							<br />
							</td>
						</tr>
<!-- BEGINELSE -->
						<tr>
							<td class="row2" colspan="2" align="center">
							<p>{L_NO_OFFERS_NOW}</p>
							</td>
						</tr>
<!-- END voterlist -->
					</tbody>
				</table>
<!-- IF PAGINATION -->

				<div class="pagination" style="float: right; margin: 15px 0 2px 0">
					<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span>
				</div>
<!-- ENDIF -->
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="7" valign="middle" align="center"></td>
	</tr>
</table>
<br clear="all" />
<!-- ELSEIF ACTION == edit -->
<script type="text/javascript" src="bbcode.js"></script>
<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<td>
			<div class="caption">
				<div class="cap-left">
					<div class="cap-right">
						<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnMake_an_Offer');"><img title="{L_EXPAND_ITEM}" id="nnMake_an_Offerimg" src="themes/1thank/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>{L_EDIT_OFFER}
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr valign="middle">
		<td  class="row3" >
			<div id="nnMake_an_Offer">
				<form name="add" method=post action="{U_ACTION}">
				{HIDDEN}
				<table class="tablebg" width="100%" cellspacing="0">
					<tr>
						<td class="row1" width="35%"><strong class="genmed">{L_NAME}:</strong></td>
						<td class="row2"><input type="text" name="name" size="80" value="{O_NAME}" /></td>
					</tr>
					<tr>
						<td class="row1" width="35%"><strong class="genmed">{L_DESCRIPTION}:</strong><br /><span class="gensmall">{L_DESCRIPTION_EXPLAIN}</span><br /><br />
						<!-- IF S_SMILIES_ALLOWED -->
							<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
							<tr>
								<td class="gensmall" align="center"><strong>{L__SMILIES}</strong></td>
							</tr>
							<tr>
								<td align="center">
<!-- BEGIN smiley -->
									<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
<!-- END smiley -->
								</td>
							</tr>

							<!-- IF S_SHOW_SMILEY_LINK -->
								<tr>
									<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L__MORE_SMILIES}</a></td>
								</tr>
							<!-- ENDIF -->

							</table>
						<!-- ENDIF -->
					</td>
						<td class="row2">
							<script type="text/javascript">
								// <![CDATA[

								var form_name = 'add';
								var text_name = 'msg';
								// ]]>
							</script>

							<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<!-- INCLUDE themes/1thank/templates/posting_buttons.html -->
							<tr>
								<td valign="top" style="width: 100%;"><textarea name="msg" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{O_MESSAGE}</textarea></td>
								<!-- IF S_BBCODE_ALLOWED -->
								<td width="80" align="center" valign="top">
									<script type="text/javascript">
									// <![CDATA[
										colorPalette('v', 7, 6)
									// ]]>
									</script>
								</td>
								<!-- ENDIF -->
							</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="row1" width="35%"><strong class="genmed">{L_CAT_SELECT}:</strong></td>
						<td class="row2">{O_CAT_SELECT}</td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type=submit value='{L_SUBMIT}' /></td>
					</tr>
				</table>
				</form>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="7" valign="middle" align="center"></td>
	</tr>
</table>
<br clear="all" />
<!-- ELSEIF ACTION == add_coment -->
<!-- ELSEIF ACTION == edit_coment -->
<!-- ELSEIF ACTION == view_orig_coment -->
<!-- ELSEIF ACTION == details -->
<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<td>
			<div class="caption">
				<div class="cap-left">
					<div class="cap-right">
						<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnOffer');"><img title="{L_EXPAND_ITEM}" id="nnOfferimg" src="themes/1thank/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>{L_OFFERS}
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr valign="middle">
		<td  class="row3" >
			<div id="nnOffer">
				<table class="tablebg" width="100%" cellspacing="0">
					<tr>
						<td class="row1" width="35%">
						{L_NAME}
						</td>
						<td class="row2">
						{O_NAME}
						</td>
					</tr>
					<tr>
						<td class="row1" width="35%">
						{L_DESCRIPTION}
						</td>
						<td class="row2">
						{O_DESCRIPTION}
						</td>
					</tr>
					<tr>
						<td class="row1" width="35%">
						{L_DATE_ADDED}
						</td>
						<td class="row2">
						{O_DATE_ADDED}
						</td>
					</tr>
					<tr>
						<td class="row1" width="35%">
						{L_OFFER_BY}
						</td>
						<td class="row2">
						{O_OFFER_BY}<!-- IF CAN_EDIT -->&nbsp;&nbsp;&nbsp;<a href="offer.php?id={O_ID}&amp;action=edit" class="sublink"><strong>[{L_EDIT}]</strong></a><!-- ENDIF -->
						</td>
					</tr>
					<tr>
					<!-- IF CAN_VOTE -->
						<td class="row1" width="35%">
						{L_OFFER_VOTE}
						</td>
						<td class="row2">
						<strong><a href="offer.php?action=take_vote&amp;id={O_ID}">{L_VOTE_FOR}</a>
						</td>
					</tr>
					<!-- ENDIF -->
					<!-- IF MOD_MOD -->
					<tr>
						<td colspan="2" align="center">
							<form method="post" action="offer.php" name="deloffer">
								<input type="hidden" value="{O_ID}" name="offerid" />
								<input type="hidden" value="delete" name="action" />
								<p>{L_DELETE}</p>
								<input name="delenable" type="checkbox" />
								<input type="submit" value='{L_SUBMIT}' />
							</form>
						</td>
					</tr>
					<!-- ENDIF -->
				</table>
				<p align="center"><a class="index" href="offer.php?action=add_coment&amp;tid={O_ID}">{L_ADD_COMMENT}</a></p>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="7" valign="middle" align="center"></td>
	</tr>
</table>
<br clear="all" />
<a name="startcomments"></a>
<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<td>
			<div class="caption">
				<div class="cap-left">
					<div class="cap-right">
						<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nncomments');"><img title="{L_EXPAND_ITEM}" id="nncommentsimg" src="themes/1thank/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>{L_COMMENTS}
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr valign="middle">
		<td  class="row3" >
			<div id="nncomments">
			{O_COMMENTS}
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="7" valign="middle" align="center"></td>
	</tr>
</table>
<br clear="all" />
<!-- ELSE -->
<table class="tablebg" width="100%" cellspacing="0">
	<tr>
		<td>
			<div class="caption">
				<div class="cap-left">
					<div class="cap-right">
						<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnOffer');"><img title="{L_EXPAND_ITEM}" id="nnOfferimg" src="themes/1thank/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>{L_OFFERS}
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr valign="middle">
		<td  class="row3" >
			<div id="nnOffer">
<fieldset class="display-options">
<p align=center><a href=offer.php?action=add>{L_MAKE_OFFER}</a></p>
</fieldset>
<!-- IF PAGINATION -->

<div class="pagination" style="float: right; margin: 15px 0 15px 0">
	<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span>
</div>
<!-- ENDIF -->
<table style="border-collapse: collapse;" align="center" border="1" bordercolor="#0033FF" cellpadding="1" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<th>{L_UPLOADER}</th>
			<th width="100%">{L_DETAILS}</th>
		</tr>
<!-- BEGIN offers -->
		<tr class=<!-- IF offers.ROW_COUNT is even -->"row1"<!-- ELSE -->"row2"<!-- ENDIF -->>
			<td class="row" align="center" valign="top">
			<div class="postauthor">{offers.ADDEDBY_NAME}</div>
			<div class="postonline"><!-- IF offers.ADDEDBY_ONLINE -->{IMG_ONLINE}<!-- ENDIF --></div>
			<div class="posterrank">{offers.ADDEDBY_RANK}</div>
			<div class="postavatar">{offers.ADDEDBY_AVATAR}</div>
			<div class="postdetails">
			<img src="themes/1thank/pics/pic_uploaded.gif" alt="{L_UPLOADED}" title="{L_UPLOADED}" border="0">&nbsp;{offers.ADDEDBY_UPLOADED}<br />
			<img src="themes/1thank/pics/pic_downloaded.gif" alt="{L_DOWNLOADED}" title="{L_DOWNLOADED}" border="0">&nbsp;{offers.ADDEDBY_DOWNLOADED}<br />
			<img src="themes/1thank/pics/pic_ratio.gif" alt="{L_RATIO}" title="{L_RATIO}" border="0">&nbsp;{offers.ADDEDBY_RATIO}<br />
			</div>
			<img src="./images/spacer.gif" alt="" height="1" width="120">
			</td>
			<td class="row" height="25" valign="top" width="100%">
			<div class="postsubject"><a href="./offer.php?action=details&amp;id={offers.ID}">{offers.NAME}</a></div>
			<div class="postdetails">{L_VOTES}:&nbsp;{offers.VOTES}</div>
			<div class="postdetails">{L_CATEGORY}:&nbsp;{offers.CAT}</div>
			<div class="postdetails"><a href="offer.php?action=details&amp;id={offers.ID}#startcomments">{L_COMMENTS}:&nbsp;{offers.COMMENTS}</a></div>
			</td>
		</tr>
		<tr class=<!-- IF offers.ROW_COUNT is even -->"row1"<!-- ELSE -->"row2"<!-- ENDIF -->>
			<td class="postbottom" align="center">
					{offers.ADDED}
			</td>
			<td class="postbottom postbuttons" valign="middle">
				<div style="float: right">
					<!-- IF offers.VOTE --><a href="offer.php?action=vote&amp;id={offers.ID}" class="sublink">{VOTE_IMG}</a>&nbsp;<!-- ENDIF -->
					<!-- IF offers.DELETE --><a href="offer.php?action=delete&amp;id={offers.ID}" class="sublink">{DELETE_IMG}</a>&nbsp;<!-- ENDIF -->
					<!-- IF offers.EDIT --><a href="offer.php?action=edit&amp;id={offers.ID}" class="sublink">{EDIT_IMG}</a><!-- ENDIF -->
				</div>
				<a href="user.php?op=profile&amp;id={offers.ADDEDBY_ID}" >{PROFILE_IMG}</a>&nbsp;
				<a href="pm.php?op=send&amp;to={offers.ADDEDBY_ID}">{PM_IMG}</a>&nbsp;
				<!-- IF offers.ICQ --><a href="http://www.icq.com/whitepages/wwp.php?to={offers.ICQ}">{ICQ_IMG}</a>&nbsp;<!-- ENDIF -->
				<!-- IF offers.AIM --><a href="aim:goim?screenname={offers.AIM}">{AIM_IMG}</a>&nbsp;<!-- ENDIF -->
				<!-- IF offers.MSN --><a href="msnim:chat?contact={offers.MSN}">{MSN_IMG}</a>&nbsp;<!-- ENDIF -->
				<!-- IF offers.YIM --><a href="ymsgr:chat?{offers.YIM}">{YIM_IMG}</a>&nbsp;<!-- ENDIF -->
				<!-- IF offers.JABBER --><a href="xmpp:{offers.JABBER}?message">{JABBER_IMG}</a>&nbsp;<!-- ENDIF -->
				<!-- IF offers.SKYPE --><a href="skype:{offers.SKYPE}">{SKYPE_IMG}</a>&nbsp;<!-- ENDIF -->
				<!-- IF offers.MAIL -->{EMAIL_IMG}<!-- ENDIF -->
			</td>
		</tr>
		<tr>
			<td class="spacer" colspan="2" height="1"><img src="./images/spacer.gif" alt="" height="1" width="1"></td>
		</tr>
<!-- END offers -->
</tbody></table>
<!-- IF PAGINATION -->

<div class="pagination" style="float: right; margin: 15px 0 2px 0">
	<a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull; <span>{PAGINATION}</span>
</div>
<!-- ENDIF -->
<br clear="all" />
<fieldset class="display-options">
	<form method="get" action="offer.php">
	<span class="gensmall">{L_DISPLAY_LOG}: &nbsp;</span>{S_LIMIT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}:</span> {S_SORT_KEY}&nbsp;<span class="gensmall">{L_CAT_SELECT}:</span> {S_CAT} {S_SORT_DIR}
	<input class="button2" type="submit" value="{L_GO}" name="sort" />
	{S_FORM_TOKEN}
	</form>
</fieldset>
<br />
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="7" valign="middle" align="center"></td>
	</tr>
</table>
<br clear="all" />
<!-- ENDIF -->


<!-- INCLUDE themes/1thank/templates/overall_footer.html -->