</tr></table>
<br clear="all" />
<!-- IF U_USER -->

<div id="footer">
    <div class="fltLeft">
        <img width="13" border="0" height="13" alt="{L_RSS_FEED}" title='{L_RSS_FEED}' src="themes/1thank/images/icon_rss.gif"> - <a href="backend.php?op=last">{L_RSS_FEED}</a>
    </div>

    <center>{L_POWERED}
        <a target="_blank" href="http://www.btmanager.org">{L_BTMGR}&#8482;</a>
            <!-- COPYRIGHT NOTICE -->
    </span>
    &nbsp;
    {L_THEME_BY}: MrReefe
    <br />{L_GENERATED} {S_GENTIME} {L_SECONDS} {L_USING} {S_QUERYCOUNT} {L_QUERIES}
        <center>
            <a href="#top"><strong>{L_TO_THE_TOP}</strong></a>
        </center><br /><br />
    </div>
</div>
</body>
</html><!-- ENDIF -->