<div class="forabg">
	<div class="inner">
    	<span class="corners-top"><span></span></span>
        <ul class="topiclist">
            <li class="header">
                <dl class="icon">
                    <dt>
                            {L_SEARCH_CLOUD}
                    </dt>
                </dl>
            </li>
        </ul>
    	<span class="corners-bottom"><span></span></span>
    </div>
</div>	
                    <span class="search_cloud">
                        <p class="search_cloud">
                        <!-- BEGIN seach_cloud -->
                            <a title="{seach_cloud.TEXT}" href="search.php?search={seach_cloud.TEXT}&amp;dead=ok"><font size="{seach_cloud.HIT}"><strong>{seach_cloud.TEXT}</strong></font></a>,
                        <!-- END seach_cloud -->
                        </p>
                    </span>
<div style="height: 2px;"></div>