<div class="navbar">
<div class="inner"><span class="corners-top"><span></span></span>
<div style="text-align: center;">
<a href="http://mamproblem.org.pl/" title="Serwery Gier Multiplayer"><img src="http://seopol.com/images/mamproblem.jpg" style="border:0; width: 160px; height: 30px;" alt="mamproblem" /></a>
<a href="http://mamproblem.org.pl/" title="Serwery Gier Multiplayer"><img src="http://seopol.com/images/matematyka.jpg" style="border:0; width: 160px; height: 30px;" alt="mamproblem" /></a>
</div>
<span class="corners-bottom"><span></span></span>
</div>
</div>
<br />