<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
</head>

<body>
<table class="tablebg" width="100%" cellspacing="0">
<tr><td>
<div class="caption">
<div class="cap-left">
<div class="cap-right">
<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnLost_your_Password_');"><img title="{L_EXPAND_ITEM}" id="nnLost_your_Password_img" src="themes/1thank/pics/minus.gif"  alt="{L_EXPAND_ITEM}"></a>Lost your Password?

</div>
</div>
</div>
</td></tr><tr valign="middle">
<td  class="row3" ><div id="nnLost_your_Password_">
<form action="user.php?op=lostpassword" method="POST">
<p>If you lost your Password, you can regain access to your account by entering your User name and a NEW Password.<br />
A confirmation mail will be sent to the E-mail address associated with your account. Make sure you can receive mail (i.e. your mailbox is not full) before submitting your Request. If you don't receive that mail, try checking your Spam-Filter.</p>
<table border="0">
<tr><td><p>User Name</p></td><td><p><input type="text" name="username" size="20"></p></td></tr>
<tr><td><p>Password (5 Chars Minimum)</p></td><td><p><input type="password" name="npasswd" size="20"></p></td></tr>
<tr><td><p>Confirm Password</p></td><td><p><input type="password" name="cpasswd" size="20"></p></td></tr>

</table>
<p><input type="submit" name="postback" value="Sign Up"><input type="reset" value="Cancel Modifications"></p></form></form>
</div>
</td></tr>
<tr>
<td colspan="7" valign="middle" align="center"></td>
</tr>
</table>
</body>
</html>
