
<form enctype="multipart/form-data" name="ucp" id="ucp" method="post" action="{PMBT_LINK_BACK}">
<input type="hidden" name="take_edit" value="1" >
<input type="hidden" name="action" value="profile" >
<input type="hidden" name="op" value="editprofile" >
<input type="hidden" name="mode" value="avatar" />

<h2>{L_TITLE}</h2>

<!-- INCLUDE themes/1thank/templates/ucp_avatar_options.html -->

<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}
	<!-- IF S_DISPLAY_GALLERY --><input type="submit" name="display_gallery" value="{L_DISPLAY_GALLERY}" class="button2" />&nbsp; <!-- ENDIF -->
	<!-- IF S_IN_AVATAR_GALLERY --><input type="submit" name="cancel" value="{L_CANCEL}" class="button2" />&nbsp; <!-- ELSE -->
	<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; <!-- ENDIF -->
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	{S_FORM_TOKEN}
</fieldset>
</form>

