<table class="tablebg" width="100%" cellspacing="0">
<tr><td>
<div class="caption">
<div class="cap-left">
<div class="cap-right">
<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnNew_Video_Clips');">{L_COMPLIANT}</a>
</div>
</div>
</div>
</td></tr><tr valign="middle">
<td  class="row3" ><div id="nnNew_Video_Clips">
<center>
    <a href="http://validator.w3.org/check?uri=referer" target="_blank"><img
      src="themes/Bitfarm/images/misc/xhtml.png" alt="{L_COMPLIANT_XHTML}" title="{L_COMPLIANT_XHTML}" height="31" width="88" /></a>&nbsp;&nbsp;

    <a href="http://www.php.net" target="_blank"><img
      src="themes/Bitfarm/images/misc/php.png" alt="{L_COMPLIANT_PHP}" title="{L_COMPLIANT_PHP}" height="31" width="88" /></a>&nbsp;&nbsp;

    <a href="http://www.mysql.com/" target="_blank"><img
      src="themes/Bitfarm/images/misc/mysql.png" alt="{L_COMPLIANT_MYSQL}" title="{L_COMPLIANT_MYSQL}" height="31" width="88" /></a>&nbsp;&nbsp;
</center>
</div>
</td></tr>
<tr>
<td colspan="7" valign="middle" align="center"></td>
</tr>
</table>
<br clear="all" >