<!-- IF SHOW_ALL -->
	<!-- BEGIN index_tor -->
	<!-- BEGIN tsble -->
	{index_tor.tsble.OUT}
						<!-- END tsble -->
						<!-- END index_tor -->
<!-- ELSE -->
<!-- IF S_TORRENTS -->
<table class="tablebg" width="100%" cellspacing="0">
	<tbody>
		<tr>
			<td>
				<div class="caption">
					<div class="cap-left">
						<div class="cap-right">
							{IND_CAT_NAME}
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr valign="middle">
			<td class="row3">
				<div id="nn&nbsp;">
					<table class="ttable_headinner" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody>
							<tr>
								<td class="ttable_head" align="center" style="color: #000000;">{L_TYPE}</td>
								<td class="ttable_head" align="left" style="color: #000000;">{L_NAME}</td>
                                <td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/download2.gif" alt="{L_DOWNLOAD}" title="{L_DOWNLOAD}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/completed.gif" alt="{L_NUB_OF_FILES}" title="{L_NUB_OF_FILES}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/comments.png" alt="{L_COMMENTS}" title="{L_COMMENTS}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/report.gif" alt="{L_RATINGS}" title="{L_RATINGS}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/completion.gif" alt="{L_AVG_SPEED}" title="{L_AVG_SPEED}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/servers.png" alt="{L_SIZE}" title="{L_SIZE}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/completed.png" alt="{L_DOWNED}" title="{L_DOWNED}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/seeders.png" alt="{L_SEEDERS}" title="{L_SEEDERS}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/leechers.png" alt="{L_LEECHERS}" title="{L_LEECHERS}" border="0"></td>
								<td class="ttable_head" align="center"><img src="themes/Bitfarm/pics/peers.gif" alt="{L_ADDED_BY}" title="{L_ADDED_BY}" border="0"></td>
							</tr>
	<!-- BEGIN torrent_var_ind -->
							<tr class="t-row">
								<td class="ttable_col1" align="center"><br /><a href="/torrents.php?cat={torrent_var_ind.CAT_PID}[]={torrent_var_ind.CAT_ID}">{torrent_var_ind.CATEGORY}</a></td>
								<td class="ttable_col2" align="left">
								  <nobr>
									<p class="title">
									   <nobr>
                                      <!-- IF torrent_var_ind.EVIDENCE --><img src="themes/Bitfarm/pics/sticky.gif" alt="{L_STICKY_TORRENT}" title="{L_STICKY_TORRENT}" border="0"><!-- ENDIF -->
									  <!-- IF torrent_var_ind.NUKED --><img src="themes/Bitfarm/pics/nuked.gif" alt="{L_NUKED_TORRENT}" title="{L_NUKED_TORRENT}" border="0"><!-- ENDIF -->
									  <!-- IF torrent_var_ind.FREE_DL --><img src="themes/Bitfarm/pics/magic.gif" alt="{L_FEE_TORRENT}" title="{L_FEE_TORRENT}" border="0"><!-- ENDIF -->
									  <!-- IF not torrent_var_ind.LOCAL_T --><img src="themes/Bitfarm/pics/external.gif" alt="{L_EXTER_TRACKER}" title="{L_EXTER_TRACKER}" border="0"><!-- ENDIF -->
									  <!-- IF torrent_var_ind.DHT_INABLED --><span class="overlib" onmouseover="return overlib('{LA_DHT_EXPL}',CAPTION, '{L_DHT_SUPORT}',TEXTFONT,'Verdana',TEXTCOLOR,'#FFFFFF',CAPTIONFONT,'Lucida Console, Verdana',LEFT,FGCOLOR,'#000000',BGCOLOR,'#6F7578',CAPICON,'themes/Bitfarm/pics/help.gif',BORDER,2,SHADOW,SHADOWOPACITY,40,SHADOWCOLOR,'#030303',SHADOWX,2,SHADOWY,2);" onmouseout="return nd();" style="cursor: help;">
									  <img src="themes/Bitfarm/pics/dht.gif" alt="{L_DHT_SUPORT}" title="{L_DHT_SUPORT}" border="0"></span><!-- ENDIF -->
									  <br />
									  <a style="text-decoration: none;" href="details.php?id={torrent_var_ind.ID}<!-- IF HIT_COUNT -->&amp;hit=1<!-- ENDIF -->" title="{torrent_var_ind.FULL_NAME}">{torrent_var_ind.SHORTNAME}</a>
                                      </nobr></p><i><u>{L_ADDED}: {torrent_var_ind.DATE_ADDED}</u></i>

									  </nobr><br />
									  <!-- IF torrent_var_ind.BANNED --><img src="themes/Bitfarm/pics/banned.png" alt="{L_BANNED_TORRENT}" title="{L_BANNED_TORRENT}" border="0"><!-- ENDIF -->
									  <!-- IF torrent_var_ind.CAN_EDIT --><a href="edit.php?id={torrent_var_ind.ID}"><img src="themes/Bitfarm/pics/edit.gif" alt="{L_EDIT}" title="{L_EDIT}" border="0"></a><!-- ENDIF -->
									  <!-- IF torrent_var_ind.CAN_DEL --><a href="edit.php?op=delete&amp;id={torrent_var_ind.ID}"><img src="themes/Bitfarm/pics/drop.gif" alt="{L_DELETE} title="{L_DELETE}" border="0"></a><!-- ENDIF -->
									  <!-- IF torrent_var_ind.CAN_BAN --><a href="edit.php?op=ban&amp;id={torrent_var_ind.ID}"><img src="themes/Bitfarm/pics/ban.png" alt="{L_BANTORRENT}" title="{L_BANTORRENT}" border="0"></a><!-- ENDIF -->
									  <!-- IF not torrent_var_ind.LOCAL_T --><!-- IF torrent_var_ind.REFRESH_T --><a href="scrape-external.php?id={torrent_var_ind.ID}&amp;tracker=&amp;return={S_RETURN}"><img src="themes/Bitfarm/pics/refresh.png" alt="{L_REFRESH_PEERS}" title="{L_REFRESH_PEERS}" border="0"></a>
									  <!-- ELSE --><img src="themes/Bitfarm/pics/refresh_gray.png" alt="{L_PEERS_UPDATE_ALREDY}" title="{L_PEERS_UPDATE_ALREDY}" border="0"><!-- ENDIF -->
									  <!-- IF torrent_var_ind.NEED_AUTH -->{torrent_var_ind.AUTH_LINK}<!-- ENDIF --><!-- ENDIF -->
									  <br />
								</td>
                                <td class="ttable_col1" align="center"><br /><!-- IF torrent_var_ind.CAN_DOWN_LOAD --><a class="index" href="download.php?id={torrent_var_ind.ID}"><img style="border: medium none ;" alt="{L_DOWNLOAD}" title="{L_DOWNLOAD}" src="themes/Bitfarm/pics/download2.gif" align="center"></a><!-- ENDIF --></td>
								<td class="ttable_col2"  align="center"><br /><a href="details.php?id=199&amp;hit=1&amp;comm=files" title="{L_NUMB_FILES}">{torrent_var_ind.NUM_FILE}</a></td>
								<td class="ttable_col1"  align="center"><br /><strong><a href="details.php?id=199&amp;hit={torrent_var_ind.ID}&amp;comm=startcomments">{torrent_var_ind.NUM_COMENTS}</a></strong></td>
                                <td class="ttable_col2" align="center"><br />{torrent_var_ind.RATEING_PIC}</td>
								<td class="ttable_col1"  align="center"><br />{torrent_var_ind.DOWNLOAD_SP}/s</td>
								<td class="ttable_col2"  align="center"><br />{torrent_var_ind.DOWNLOAD_SIZE}</td>
								<td class="ttable_col1"  align="center"><br />{torrent_var_ind.TIMES_SNATHED}<br />{L_TIMES}</td>
								<td class="ttable_col2"  align="center"><br /><strong>{torrent_var_ind.SEEDERS}</strong></td>
								<td class="ttable_col1"  align="center"><br /><strong>{torrent_var_ind.LEECHERS}</strong></td>
								<td class="ttable_col2"  align="center"><br /><!-- IF torrent_var_ind.ANONUMUS_UPLO -->{torrent_var_ind.UPLOADERS_NAM} <!-- ELSE --> <a href="user.php?op=profile&amp;id={torrent_var_ind.UPLODER_ID}"><font color="{torrent_var_ind.UPLDER_COLOR}">{torrent_var_ind.UPLOADERS_NAM}</font></a><!-- ENDIF --></td>
							</tr>
	<!-- END torrent_var -->
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br clear="all" />
<!-- ELSE -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody><tr><td>
<div class="caption">
<div class="cap-left">
<div class="cap-right">

<a class="c4" style="cursor: pointer; float: left;" onclick="toggle2('nn ');"><img title="{L_EXPAND_ITEM}" id="nn&nbsp;img" src="themes/Bitfarm/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>&nbsp;
</div>
</div>
</div>
</td></tr><tr valign="middle">
<td class="row3">
<div id="nn&nbsp;">
<h3>{L_NO_TORRENTS}</h3>
</div>
</td></tr>
<tr>

<td colspan="7" valign="middle" align="center"></td>
</tr>
</tbody></table>
<br clear="all" />
<!-- ENDIF -->
<!-- ENDIF -->