<!-- INCLUDE themes/Bitfarm/templates/over_all_header.html -->
<!-- INCLUDE themes/Bitfarm/templates/over_all_left.html -->
<!-- INCLUDE themes/Bitfarm/templates/news.html -->
<!-- INCLUDEPHP blocks/shoutbox.php -->
<!-- INCLUDEPHP blocks/poll.php -->
<!-- INCLUDEPHP blocks/torrents.php -->
<!-- INCLUDEPHP blocks/whos_online.php -->
<!-- INCLUDEPHP blocks/users_today.php -->
<!-- INCLUDE themes/Bitfarm/templates/birthday_list.html -->
<!-- INCLUDE themes/Bitfarm/templates/compliant.html -->
<!-- INCLUDE themes/Bitfarm/templates/over_all_right.html -->
<!-- INCLUDE themes/Bitfarm/templates/over_all_footer.html -->