<!-- IF IS_NEED_SEEDS -->
<table class="tablebg" width="100%" cellspacing="0">
    <tr>
        <td>
            <div class="caption">
                <div class="cap-left">
                    <div class="cap-right">
                        <a class="c4" style="cursor: pointer; float: left;" onclick="toggle2('nnTorrents_That_Need_Seeding');"><img title="{L_EXPAND_ITEM}" id="nnTorrents_That_Need_Seedingimg" src="themes/Bitfarm/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>{L_TORRENT_NEED_SEED}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr valign="middle">
        <td class="row3" >
            <div id="nnTorrents_That_Need_Seeding">
                <center><strong>{L_TORRENT_NEED_SEED_EXP}</strong></center>
                <center>
                    <table style="width: 100%;" class="ttable_headinner"  cellspacing="0" cellpadding="0" >
                        <tr>
                            <td class="ttable_head" align="center">{L_TORRENT}</td>
                            <td class="ttable_head" align="center">{L_LEECHERS}</td>
                            <td class="ttable_head" align="center">{L_DOWNED}</td>
                            <td class="ttable_head" align="center">{L_SNATCHED}</td>
                            <td class="ttable_head" align="center">{L_ADDED}</td>
                        </tr>
                        <!-- BEGIN need_seeded -->
                        <tr>
                            <td class="ttable_col1" align="center">
                                <a href="details.php?id={need_seeded.SEED_ID}&hit=1" alt="{need_seeded.SEED_NAME}" title="{need_seeded.SEED_NAME}">{need_seeded.SEED_NAME_SHORT}</a>
                            </td>
                            <td class="ttable_col2" align="center"><font color="red">{need_seeded.SEED_LEECH}</td>
                            <td class="ttable_col1" align="center">{need_seeded.SEED_DOWN}</td>
                            <td class="ttable_col2" align="center">{need_seeded.SEED_COMPL}</td>
                            <td class="ttable_col1" align="center">{need_seeded.SEED_ADDED}</td>
                        </tr>
                        <!-- END need_seeded -->
                    </table>
                </center>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="7" valign="middle" align="center"></td>
    </tr>
</table>
<br clear="all" />
<!-- ENDIF -->