<table class="tablebg" width="100%" cellspacing="0">
    <tr>
        <td>
            <div class="caption">
                <div class="cap-left">
                    <div class="cap-right">
                        <a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnSite_News');">{L_SITE_NEWS}</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr valign="middle">
        <td class="row3" >
            <div id="nnSite_News">
                <table width="100%">
                    <tr>
                        <td>{SITE_NEWS}</td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<br clear="all" />