<!-- INCLUDE themes/Bitfarm/templates/over_all_header.html -->
<!-- INCLUDE themes/Bitfarm/templates/pm_left_panel.html -->
<!-- IF ERROR_MESSAGE or NOTIFICATION_MESSAGE -->
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td class="row3" align="center">
			<!-- IF ERROR_MESSAGE --><span class="genmed error">{ERROR_MESSAGE}</span><!-- ENDIF -->
			<!-- IF NOTIFICATION_MESSAGE --><span class="genmed error">{NOTIFICATION_MESSAGE}</span><!-- ENDIF -->
		</td>
	</tr>
	</table>
	<div style="padding: 2px;"></div>
<!-- ENDIF -->

<form name="ucp" method="post" action="{S_UCP_ACTION}">

{$CA_BLOCK_START}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
{$CA_CAP_START}{L__ADD_NEW_RULE}{$CA_CAP_END}
<!-- IF S_CHECK_DEFINED -->
	<tr>
		<td class="row1" width="50" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><strong class="gen">{L__IF}:</p></td>
		<td class="row2" align="center" valign="top"><!-- IF S_CHECK_SELECT --><select name="check_option">{S_CHECK_OPTIONS}</select><!-- ELSE --><strong class="gen">{CHECK_CURRENT}</strong><input type="hidden" name="check_option" value="{CHECK_OPTION}" /><!-- ENDIF --></td>
		<td class="row1" width="50" align="{S_CONTENT_FLOW_END}" valign="top"><!-- IF S_CHECK_SELECT --><input type="submit" name="next" value="{L_NEXT}" class="btnlite" /><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_RULE_DEFINED -->
	<tr>
		<td class="row1" width="50" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><!-- IF S_RULE_SELECT --><input type="submit" name="back[rule]" value="{L__PREVIOUS_STEP}" class="btnlite" /><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
		<td class="row2" align="center" valign="top"><!-- IF S_RULE_SELECT --><select name="rule_option">{S_RULE_OPTIONS}</select><!-- ELSE --><strong class="gen">{RULE_CURRENT}</strong><input type="hidden" name="rule_option" value="{RULE_OPTION}" /><!-- ENDIF --></td>
		<td class="row1" width="50" align="{S_CONTENT_FLOW_END}" valign="top"><!-- IF S_RULE_SELECT --><input type="submit" name="next" value="{L_NEXT}" class="btnlite" /><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
	</tr>
<!-- ENDIF -->

<!-- IF S_COND_DEFINED -->
	<!-- IF S_COND_SELECT or COND_CURRENT -->
		<tr>
			<td class="row1" width="50" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><!-- IF S_COND_SELECT --><input type="submit" name="back[cond]" value="{L__PREVIOUS_STEP}" class="btnlite" /><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
			<td class="row2" align="center" valign="top">
				<!-- IF S_COND_SELECT -->
					<!-- IF S_TEXT_CONDITION -->
						<input type="text" name="rule_string" value="{CURRENT_STRING}" size="30" maxlength="250" class="post" />
					<!-- ELSEIF S_USER_CONDITION -->
						<input type="text" class="post" name="rule_string" value="{CURRENT_STRING}" size="20" />&nbsp;<span class="gensmall">[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L__FIND_USERNAME}</a> ]</span>
					<!-- ELSEIF S_GROUP_CONDITION -->
						<input type="hidden" name="rule_string" value="{CURRENT_STRING}" /><!-- IF S_GROUP_OPTIONS --><select name="rule_group_id">{S_GROUP_OPTIONS}</select><!-- ELSE -->{L__NO_GROUPS}<!-- ENDIF -->
					<!-- ENDIF -->
				<!-- ELSE -->
					<strong class="gen">{COND_CURRENT}</strong>
						<input type="hidden" name="rule_string" value="{CURRENT_STRING}" /><input type="hidden" name="rule_user_id" value="{CURRENT_USER_ID}" /><input type="hidden" name="rule_group_id" value="{CURRENT_GROUP_ID}" />
				<!-- ENDIF -->
			</td>
			<td class="row1" width="50" align="{S_CONTENT_FLOW_END}" valign="top"><!-- IF S_COND_SELECT --><input type="submit" name="next" value="{L_NEXT}" class="btnlite" /><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
		</tr>
	<!-- ENDIF -->
	<input type="hidden" name="cond_option" value="{COND_OPTION}" />
<!-- ENDIF -->

<!-- IF NONE_CONDITION --><input type="hidden" name="cond_option" value="none" /><!-- ENDIF -->

<!-- IF S_ACTION_DEFINED -->
	<tr>
		<td class="row1" width="50" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><!-- IF S_ACTION_SELECT --><input type="submit" name="back[action]" value="{L__PREVIOUS_STEP}" class="btnlite" /><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
		<td class="row2" align="center" valign="top"><!-- IF S_ACTION_SELECT --><select name="action_option">{S_ACTION_OPTIONS}</select><!-- ELSE --><strong class="gen">{ACTION_CURRENT}</strong><input type="hidden" name="action_option" value="{ACTION_OPTION}" /><!-- ENDIF --></td>
		<td class="row1" width="50" align="{S_CONTENT_FLOW_END}" valign="top"><!-- IF S_ACTION_SELECT --><input type="submit" name="add_rule" value="{L__ADD_RULE}" class="btnlite" /><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
	</tr>
<!-- ENDIF -->
</table>
{$CA_BLOCK_END}

<div style="padding: 2px;"></div>

{$CA_BLOCK_START}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
{$CA_CAP_START}{L__DEFINED_RULES}{$CA_CAP_END}
<!-- BEGIN rule -->
	<tr>
		<td class="row1" width="25" align="center"><p class="forumdesc">#{rule.COUNT}</p></td>
		<td class="row2" width="120"><p class="forumdesc">{L__IF} {rule.CHECK}</p></td>
		<td class="row1" width="120"><p class="forumdesc">{rule.RULE}</p></td>
		<td class="row2" width="120"><p class="forumdesc"><!-- IF rule.STRING -->{rule.STRING}<!-- ENDIF --></p></td>
		<td class="row1"><p class="forumdesc">{rule.ACTION}<!-- IF rule.FOLDER --> -&gt; {rule.FOLDER}<!-- ENDIF --></p></td>
		<td class="row2" width="25"><input type="submit" name="delete_rule[{rule.RULE_ID}]" value="{L__DELETE_RULE}" class="btnlite" /></td>
	</tr>
<!-- BEGINELSE -->
	<tr>
		<td colspan="6" class="row3" align="center"><p class="forumdesc"><strong>{L__NO_RULES_DEFINED}</strong></p></td>
	</tr>
<!-- END rule -->
</table>
{$CA_BLOCK_END}

<div style="padding: 2px;"></div>

<!-- IF S_FOLDER_OPTIONS -->
    {$CA_BLOCK_START}
	<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
	{$CA_CAP_START}{L__RENAME_FOLDER}{$CA_CAP_END}
	<tr>
		<td class="row1" width="200"><p class="forumdesc">{L__RENAME_FOLDER}: </p></td>
		<td class="row1"><select name="rename_folder_id">{S_FOLDER_OPTIONS}</select></td>
	</tr>
	<tr>
		<td class="row1" width="200"><p class="forumdesc">{L__NEW_FOLDER_NAME}: </p></td>
		<td class="row1"><input type="text" class="post" name="new_folder_name" size="30" maxlength="30" /></td>
	</tr>
	<tr>
		<td class="row1" align="{S_CONTENT_FLOW_END}" colspan="2"><input class="btnlite" style="width:150px" type="submit" name="rename_folder" value="{L__RENAME}" /></td>
	</tr>
	</table>
	{$CA_BLOCK_END}

	<div style="padding: 2px;"></div>
<!-- ENDIF -->

<!-- IF not S_MAX_FOLDER_ZERO -->
{$CA_BLOCK_START}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
{$CA_CAP_START}{L__ADD_FOLDER}{$CA_CAP_END}
<!-- IF S_MAX_FOLDER_REACHED -->
	<tr>
		<td colspan="2">{L__MAX_FOLDER_REACHED}</td>
	</tr>
<!-- ELSE -->
	<tr>
		<td class="row1" width="200"><p class="forumdesc">{L__ADD_FOLDER}: </p></td>
		<td class="row1"><input type="text" class="post" name="foldername" size="30" maxlength="30" /></td>
	</tr>
	<tr>
		<td class="row1" align="{S_CONTENT_FLOW_END}" colspan="2"><input class="btnlite" style="width:150px" type="submit" name="addfolder" value="{L__ADD}" /></td>
	</tr>
<!-- ENDIF -->
</table>
{$CA_BLOCK_END}
<!-- ENDIF -->

<div style="padding: 2px;"></div>

<!-- IF S_FOLDER_OPTIONS -->
    {$CA_BLOCK_START}
	<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
	{$CA_CAP_START}{L__REMOVE_FOLDER}{$CA_CAP_END}
	<tr>
		<td class="row1" width="200"><p class="forumdesc">{L__REMOVE_FOLDER}: </p></td>
		<td class="row1"><select name="remove_folder_id">{S_FOLDER_OPTIONS}</select></td>
		<td class="row1"><p class="forumdesc">{L__AND}</p></td>
	</tr>
	<tr>
		<td class="row2" width="200">&nbsp;</td>
		<td class="row2" colspan="2"><input type="radio" class="radio" name="remove_action" value="1" checked="checked" />&nbsp;<span class="genmed">{L__MOVE_DELETED_MESSAGES_TO} </span>&nbsp;<select name="move_to">{S_TO_FOLDER_OPTIONS}</select></td>
	</tr>
	<tr>
		<td class="row2" width="200">&nbsp;</td>
		<td class="row2" colspan="2"><input type="radio" class="radio" name="remove_action" value="2" />&nbsp;<span class="genmed">{L__DELETE_MESSAGES_IN_FOLDER}</span></td>
	</tr>
	<tr>
		<td class="row2" width="200">&nbsp;</td>
		<td class="row2" colspan="2" align="{S_CONTENT_FLOW_END}"><input class="btnlite" style="width:150px" type="submit" name="remove_folder" value="{L__REMOVE}" /></td>
	</tr>
	</table>
	{$CA_BLOCK_END}

	<div style="padding: 2px;"></div>
<!-- ENDIF -->

{$CA_BLOCK_START}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
{$CA_CAP_START}{L__FOLDER_OPTIONS}{$CA_CAP_END}
<tr>
	<td class="row1" width="200"><span><p class="forumdesc">{L__IF_FOLDER_FULL}: </p></span></td>
	<td class="row1"><input type="radio" class="radio" name="full_action" value="1"{S_DELETE_CHECKED} />&nbsp;<span class="genmed">{L__DELETE_OLDEST_MESSAGES}</span></td>
</tr>
<tr>
	<td class="row1" width="200">&nbsp;</td>
	<td class="row1"><input type="radio" class="radio" name="full_action" value="2"{S_MOVE_CHECKED} />&nbsp;<span class="genmed">{L__MOVE_TO_FOLDER}: </span><select name="full_move_to">{S_FULL_FOLDER_OPTIONS}</select></td>
</tr>
<tr>
	<td class="row1" width="200">&nbsp;</td>
	<td class="row1"><input type="radio" class="radio" name="full_action" value="3"{S_HOLD_CHECKED} />&nbsp;<span class="genmed">{L__HOLD_NEW_MESSAGES}</span></td>
</tr>
<tr>
	<td class="row2" width="200"><p class="forumdesc">{L__DEFAULT_ACTION}: </p><span class="genmed">{L__DEFAULT_ACTION_EXPLAIN}</span></td>
	<td class="row2"><span class="genmed">{DEFAULT_ACTION}</span></td>
</tr>
<tr>
	<td class="row1" colspan="2" align="{S_CONTENT_FLOW_END}"><input class="btnlite" style="width:150px" type="submit" name="fullfolder" value="{L__CHANGE}" /></td>
</tr>
</table>
{$CA_BLOCK_END}
{S_FORM_TOKEN}
</form>
