<table class="tablebg" width="100%" cellspacing="0">
<tbody><tr><td>
<div class="caption">
<div class="cap-left">

<div class="cap-right">
<a class="c4" style="cursor: pointer; float: left;" onclick="toggle2('nnPolls');">{L_POLLS}</a>
</div>
</div>
</div>
</td></tr><tr valign="middle">
<td class="row3"><div id="nnPolls">
<!-- IF U_MODERATOR -->
<div align="right">
<font class="small">{L_MOD_OPTIONS}
 - [<a class="altlink" href="makepoll.php?returnto=main"><strong>{L__NEW}</strong></a>]
 - [<a class="altlink" href="makepoll.php?action=edit&amp;pollid={POLL_ID}&amp;returnto=main"><strong>{L_EDIT}</strong></a>]
 - [<a class="altlink" href="polls.php?action=delete&amp;pollid={POLL_ID}&amp;returnto=main"><strong>{L_DELETE}</strong></a>]
</font>
 </div>
 <!-- ENDIF -->
<table class='poll' align="center" border="1" cellpadding="2" cellspacing="2"><tbody><tr class='poll'><td class="poll">
<!-- IF POLL_LOCKED -->
<p class="poll_q"><strong>{POLL_QUESTION}</strong></p>
<!-- IF POLL_VOTED -->
<table class='poll' border="1" cellpadding="2" cellspacing="2">
<tbody>
<!-- BEGIN poll_var_answered -->
<tr class='poll'><td width="1%">
<nobr>{poll_var_answered.P_ANSWER}&nbsp;&nbsp;</nobr>
</td>
<td width="99%"><img src="{SITE_URL}/images/bar_left.gif"><img src="{SITE_URL}/images/bar.gif" width="{poll_var_answered.P_IMAGE_W}" height="10"><img src="{SITE_URL}/images/bar_right.gif"> {poll_var_answered.ANSWER_VOTES}%</td>
</tr>
<!-- END poll_var_answered -->
</tbody>
</table>
<br /><p align="center">{L_VOTES}: {POLL_VOTE_COUNT}<br />
[<a class="altlink" href="polloverview.php"><strong>{L_VIEW_RESULTS}</strong></a>]</p>
</td></tr></tbody></table></div>
	<!-- ELSE -->
<form method="post" action="index.php"><p class='poll'>
<input type="hidden" name="vote" value="1" />
<input type="hidden" name="poll_id" value="{POLL_ID}" />
<!-- BEGIN poll_var_no_answered -->
<input name="choice" value="{poll_var_no_answered.VALUE}" type="radio" />&nbsp;&nbsp;{poll_var_no_answered.VAL_QUEST}<br />
<!-- END poll_var_no_answered -->
<br /></p><div align="center"><input value="{L_VOTE}" class="btn" type="submit" /><br />[<a href="polls.php"><strong>{L_VIEW_RESULTS}</strong></a>]</div></form></td></tr></tbody></table></div>
    <!-- ENDIF -->
	<!-- ELSE -->
<p class='poll'>{POLL_NO_POLL}<br /></td></tr></tbody></table></div>
    <!-- ENDIF -->
</td></tr>
</tbody></table>
<br clear="all" />