<!-- INCLUDE themes/Bitfarm/templates/over_all_header.html -->
<!-- INCLUDE themes/Bitfarm/templates/over_all_left.html -->
<!-- IF S_RULES -->
<!-- BEGIN rules_var -->
    <table class="tablebg" width="100%" cellspacing="0">
        <tr>
            <td>
                <div class="caption">
                    <div class="cap-left">
                        <div class="cap-right">
                            <a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nn{rules_var.ID}');"><img title="{L_EXPAND_ITEM}" id="nn{rules_var.ID}img" src="themes/Bitfarm/pics/minus.gif" alt="{L_EXPAND_ITEM}"></a>{rules_var.TITLE}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr valign="middle">
            <td  class="row3" >
                <div id="nn{rules_var.ID}">
                    <table width="95%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="100%">
{rules_var.RULE}

                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="7" valign="middle" align="center"></td>
        </tr>
    </table>
<!-- END rules_var -->
<!-- ENDIF -->
<!-- INCLUDE themes/Bitfarm/templates/over_all_right.html -->
<!-- INCLUDE themes/Bitfarm/templates/over_all_footer.html -->