<table class="tablebg" width="100%" cellspacing="0">
    <tbody>
        <tr>
            <td>
                <div class="caption">
                    <div class="cap-left">
                        <div class="cap-right">
                            {L_SEARCH_CLOUD}
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr valign="middle">
            <td class="row3">
                <div id="nncloud">
                    <span class="search_cloud">
                        <p class="search_cloud">
                        <!-- BEGIN seach_cloud -->
                            <a title="{seach_cloud.TEXT}" href="search.php?search={seach_cloud.TEXT}&amp;dead=ok"><font size="{seach_cloud.HIT}"><strong>{seach_cloud.TEXT}</strong></font></a>,
                        <!-- END seach_cloud -->
                        </p>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="7" valign="middle" align="center"></td>
        </tr>
    </tbody>
</table>
<br clear="all" />