<!-- INCLUDE themes/Bitfarm/templates/over_all_header.html -->


<div class="content">
    <div class="right-column">
            <h3>{L_PERSONAL}</h3>
            <p>
             <ul class="stats nobullet">
             <form method="post" action="./memberslist.php?mode=group">
            <li>{L_GROUPS}: <span title="">{S_GROUP_OPTIONS} <input class="btnlite" name="submit" value="{L_GO}" type="submit"></span></li>
            <li>{L_LOCATION}: <span title="{L_LOCATION}">{LOCATION}</span></li>
            <li>{L_AGE}: <span title="{L_AGE}">{AGE}</span></li>
            <!-- IF U_IP -->
            <li>{L_USER_IP}: <span title="{L_USER_IP}">{U_IP}</span></li>
            <li>{L_USER_HOST}: <span title="{L_USER_HOST}">{U_IP_HOST}</span></li>
            <!-- ENDIF -->
            </form>
            </ul>
            </p>
            <br clear="all" />

            <h3>{L_CONTACT}</h3>
            <p>
            <ul class="stats nobullet">
            <!-- IF U_EMAIL --><li>{L_EMAIL}: <span title="{L_EMAIL}">{U_EMAIL}</span></li><!-- ENDIF -->
            <!-- IF U_PM --><li>{L_PM}: <span title="{L_PM}">{U_PM}</span></li><!-- ENDIF -->
            <!-- IF U_MSN --><li>{L_MSNWLM}: <span title="{L_MSNWLM}">{U_MSN}</span></li><!-- ENDIF -->
            <!-- IF U_YIM --><li>{L_YIM}: <span title="{L_YIM}">{U_YIM}</span></li><!-- ENDIF -->
            <!-- IF U_AIM --><li>{L_AIM}: <span title="{L_AIM}">{U_AIM}</span></li><!-- ENDIF -->
            <!-- IF U_ICQ --><li>{L_ICQ}: <span title="{L_ICQ}">{U_ICQ}</span></li><!-- ENDIF -->
            <!-- IF U_JABBA --><li>{L_JABBER}: <span title="{L_JABBER}">{U_JABBA}</span></li><!-- ENDIF -->
            <!-- IF U_SKYPE --><li>{L_SKYPE}: <span title="{L_SKYPE}">{U_SKYPE}</span></li><!-- ENDIF -->
            </ul>
            </p>
            <br clear="all" />

            <h3>{L_COMMUNITY}</h3>
            <p>
            <ul class="stats nobullet">
            <li>{L_COMMENTS_LEFT}: <span title="{L_COMMENTS_LEFT}">{T_COMMENTS}</span></li>
            <li>{L_THANKS_LEFT}: <span title="{L_THANKS_LEFT}">{T_THANKS}</span></li>
            <li>{L_TOTAL_POSTS}: <span title="{L_TOTAL_POSTS}">{CP_POST_COUNT}</li>
            <li>[{POSTS_PCT} / {POSTS_DAY} ]<br /><a href="./forum.php?action=search&author_id={CP_UID}">{L_SEARCH_USER_POST}</a></li>
            <li>{L_ACTIVE_IN_FORUM}: <span title="{L_ACTIVE_IN_FORUM}"><strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong></span></li>
            <li>{L_ACTIVE_IN_TOPIC}: <span title="{L_ACTIVE_IN_TOPIC}"><strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong></span></li>
            </ul>
            </p>
            </div>

            <div class="left-column">
            <h2><strong class="gen" style="color: {CP_UCOLOR};">{CP_UNAME}</strong> - {CP_UGROUP}<!-- IF CP_EDIT_USER --> - [ <a href="user.php?op=editprofile&id={CP_UID}"><img src="themes/Bitfarm/pics/edit.gif" alt="{L_EDIT}" title="{L_EDIT}"></a> ]<!-- ENDIF -->&nbsp;<img src="images/{CP_ONLINE}line.png" alt="{L_ONLINE}" title="{L_ONLINE}"></h2>
            <p><center><br clear="all" />{RANK_IMG}<br />{CP_UAVATAR}</center>
            <!-- IF U_ADD_FRIEND and U_ADD_FOE-->[ <a href="{U_ADD_FRIEND}">{L_ADD_BUDDY}</a> | <a href="{U_ADD_FOE}">{L_BLACK_LIST_USER}</a> ]<!-- ENDIF -->
            <!-- IF U_REMOVE_FRIEND -->[ <a href="{U_REMOVE_FRIEND}">{L_BUDDY_REMOVE}</a> ]<!-- ENDIF -->
            <!-- IF U_REMOVE_FOE -->[ <a href="{U_REMOVE_FOE}">{L_BLACK_LIST_REMOVE}</a> ]<!-- ENDIF -->
            </p>
            <br clear="all" />

            <h3>{L_PERSONAL_STATS}</h3>
            <p>
            <ul class="stats nobullet">
            <li>{L_JOINED}: <span title="{L_JOINED}">{CP_UREGDATE}</span></li>
            <li>{L_SORT_LAST_VISIT}: <span title="{L_SORT_LAST_VISIT}">{CP_ULASTSEEN}</span></li>
            <li>{L_UPLODED}: <span title="{L_UPLODED}">{CP_UUPLOADED}</span></li>
            <li>{L_DOWNED}: <span title="{L_DOWNED}">{CP_UDOWNLOADED}</span></li>
            <li>{L_RATIO}: <span title="{L_RATIO}">{CP_URATIO}</span></li>
            <li>{L_WARNED}: <span title="{L_WARNED}"><!-- IF CP_UWARNED -->{L_YES}<!-- ELSE -->{L_NO}<!-- ENDIF --></span></li>
            <!-- IF CP_WARN_USE --><li><span class="genmed">[ <a href="user.php?op=editprofile&id={CP_UID}&action=profile&mode=admin_reg_details">{L_VIEW_USER_NOTES}</a>  | <a href="user.php?op=editprofile&id={CP_UID}&action=profile&mode=admin_reg_details">{L_WARN_USER}</a> ]</span></li><!-- ENDIF -->          <!-- IF U_BAN_USER --><li>{L_BAN_ACCOUNT}:<span title="{L_BAN_ACCOUNT}">[{U_BAN_USER}]</span></li><!-- ENDIF -->
            <!-- IF U_BAN_SHOUTS --><li>{L_BAN_SHOUTS}:<span title="{L_BAN_SHOUTS}">[{U_BAN_SHOUTS}]</span></li><!-- ENDIF -->
            </ul>
            </p>
            <br clear="all" />
            </div>


    <div class="center-column hideoverflow">
        <!-- IF SIGNATURE -->
    <table class="tablebg" width="100%" cellspacing="0">
    <h3>{L_SIGNATURE}</h3>
    <tr valign="middle">
    <td class="row3">
    <div class="postbody" style="padding: 10px;">{SIGNATURE}</div>
    </td>
    </td>
    </table>
    <br clear="all" />
<!-- ENDIF -->


    <!-- IF S_TORRENTSMYU -->
<table class="tablebg" width="100%" cellspacing="0">

<h3>{L_YOUR_TORRENTS}</h3>

<tr valign="middle">
<td class="row3">
<div id="nnmyuploads">
<br clear="all" />
    <span>
      <strong>{L_PAGES} {CURENT_PAGEMYU}/{TOTTAL_PAGESMYU}</strong>
    </span>
    <span>
      <!-- IF not PREV_PAGEMYU --><strong>&lt;&lt;&lt;&lt;</strong>
      <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p1={PREV_PAGEMYU}">&lt;&lt;&lt;&lt;</a><!-- ENDIF -->
{GENERATED_PAGESMYU}
        <!-- IF not NEXT_PAGEMYU --><strong>&gt;&gt;&gt;&gt;</strong>
        <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p1={NEXT_PAGEMYU}">&gt;&gt;&gt;&gt;</a><!-- ENDIF -->
        <span>
        </span>
      </span>
    </span>
  </span>
<br />
<br />
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td class="ttable_head" align="center">{L_TYPE}</td>
<td class="ttable_head" align="left">{L_NAME}</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/seeders.png" alt="{L_SEEDERS}" title="{L_SEEDERS}" border="0">
</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/leechers.png" alt="{L_LEECHERS}" title="{L_LEECHERS}" border="0">
</td>
</tr>
<!-- BEGIN torrent_varmyu -->
<tr class="t-row">
<td class="ttable_col1" align="center"><br />
    <a href="/torrents.php?cat={torrent_varmyu.CAT_ID}">{torrent_varmyu.CATEGORY}</a>
</td>
<td class="ttable_col2" nowrap="nowrap" align="left">
  <nobr>
    <p class="title">
       <nobr>
      <!-- IF torrent_varmyu.NUKED --><img src="themes/Bitfarm/pics/nuked.gif" alt="{L_NUKED_TORRENT}" title="{L_NUKED_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmyu.FREE_DL --><img src="themes/Bitfarm/pics/magic.gif" alt="{L_FREE_TORRENT}" title="{L_FREE_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmyu.DHT_INABLED --><span class="overlib" onmouseover="return overlib('{L_DHT_EXPL}',CAPTION, '{L_DHT_SUPORT}',TEXTFONT,'Verdana',TEXTCOLOR,'#FFFFFF',CAPTIONFONT,'Lucida Console, Verdana',LEFT,FGCOLOR,'#000000',BGCOLOR,'#6F7578',CAPICON,'themes/Bitfarm/pics/help.gif',BORDER,2,SHADOW,SHADOWOPACITY,40,SHADOWCOLOR,'#030303',SHADOWX,2,SHADOWY,2);" onmouseout="return nd();" style="cursor: help;">
      <img src="themes/Bitfarm/pics/dht.gif" alt="{L_DHT_SUPORT}" title="{L_DHT_SUPORT}" border="0"></span><!-- ENDIF -->
      <br />

      <strong><a style="text-decoration: none;" href="details.php?id={torrent_varmyu.ID}<!-- IF HIT_COUNT -->&amp;hit=1<!-- ENDIF -->" title="{torrent_varmyu.FULL_NAME}">{torrent_varmyu.SHORTNAME}</a></strong>

      </nobr></p><i><u>{L_ADDED}: {torrent_varmyu.DATE_ADDED}</u></i>

      </nobr></p><!-- IF torrent_varmyu.CAN_DOWN_LOAD --><a class="index" href="download.php?id={torrent_varmyu.ID}"><img style="border: medium none ;" alt="{L_DOWNLOAD}" title="{L_DOWNLOAD}" src="themes/Bitfarm/pics/download2.gif" align="right"></a><!-- ENDIF -->
      </nobr><br />

      <!-- IF torrent_varmyu.BANNED --><img src="themes/Bitfarm/pics/banned.png" alt="{L_BANNED_TORRENT}" title="{L_BANNED_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmyu.CAN_EDIT --><a href="edit.php?id={torrent_varmyu.ID}"><img src="themes/Bitfarm/pics/edit.gif" alt="{L_BAN_EDIT}" title="{L_BAN_EDIT}" border="0"></a><!-- ENDIF -->

      <!-- IF torrent_varmyu.CAN_DEL --><a href="edit.php?op=delete&amp;id={torrent_varmyu.ID}"><img src="themes/Bitfarm/pics/drop.gif" alt="{L_BAN_DELETE}" title="{L_BAN_DELETE}" border="0"></a><!-- ENDIF -->

      <!-- IF torrent_varmyu.CAN_BAN --><a href="edit.php?op=ban&amp;id={torrent_varmyu.ID}"><img src="themes/Bitfarm/pics/ban.png" alt="{L_BAN_TORRENT}" title="{L_BAN_TORRENT}" border="0"></a><!-- ENDIF -->

      <!-- IF not torrent_varmyu.LOCAL_T --><!-- IF torrent_varmyu.REFRESH_T --><a href="scrape-external.php?id={torrent_varmyu.ID}&amp;tracker={torrent_varmyu.TRACKER_URL}&amp;return=torrents.php"><img src="themes/Bitfarm/pics/refresh.png" alt="{L_REFRESH_TORRENT}" title="{L_REFRESH_TORRENT}" border="0"></a>

      <!-- ELSE --><img src="themes/Bitfarm/pics/refresh_gray.png" alt="{L_UPDATE_STATS}" title="{L_UPDATE_STATS}" border="0"><!-- ENDIF -->
      <!-- IF torrent_varmyu.NEED_AUTH -->{torrent_varmyu.AUTH_LINK}<!-- ENDIF --><!-- ENDIF -->

</td>
<td class="ttable_col1" align="center"><strong><br />{torrent_varmyu.SEEDERS}</strong></td>
<td class="ttable_col2" align="center"><strong><br />{torrent_varmyu.LEECHERS}</strong></td>
</tr>
<!-- END torrent_varmyu -->
</tbody></table>
<br clear="all" />
    <span>
      <strong>{L_PAGES} {CURENT_PAGEMYU}/{TOTTAL_PAGESMYU}</strong>
    </span>
    <span>
      <!-- IF not PREV_PAGEMYU --><strong>&lt;&lt;&lt;&lt;</strong>
      <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p1={PREV_PAGEMYU}">&lt;&lt;&lt;&lt;</a><!-- ENDIF -->
{GENERATED_PAGESMYU}
        <!-- IF not NEXT_PAGEMYU --><strong>&gt;&gt;&gt;&gt;</strong>
        <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p1={NEXT_PAGEMYU}">&gt;&gt;&gt;&gt;</a><!-- ENDIF -->
        <span>
        </span>
      </span>
    </span>
  </span>

</div>
</td></tr>
</tbody></table>
<br clear="all" />
<!-- ELSE -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody>
<h3>{L_YOUR_TORRENTS}</h3>
<tr valign="middle">
<td class="row3">
<div id="nnmyuploads">
{L_NO_TORRENTS}
</div>
</td></tr>
</tbody></table>
<br clear="all" />
<!-- ENDIF -->
<!-- IF S_TORRENTSMYS -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody><h3>{L_TOR_IMG_SEED}</h3>
<tr valign="middle">
<td class="row3">
<div id="nnmyseed">
<br clear="all" />
    <span>
      <strong>{L_PAGES} {CURENT_PAGEMYS}/{TOTTAL_PAGESMYS}</strong>
    </span>
    <span>
      <!-- IF not PREV_PAGEMYS --><strong>&lt;&lt;&lt;&lt;</strong>
      <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p2={PREV_PAGEMYS}">&lt;&lt;&lt;&lt;</a><!-- ENDIF -->
{GENERATED_PAGESMYS}
        <!-- IF not NEXT_PAGEMYS --><strong>&gt;&gt;&gt;&gt;</strong>
        <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p2={NEXT_PAGEMYS}">&gt;&gt;&gt;&gt;</a><!-- ENDIF -->
        <span>
        </span>
      </span>
    </span>
  </span>
<br />
<br />
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td class="ttable_head" align="center">{L_TYPE}</td>
<td class="ttable_head" align="left">{L_NAME}</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/seeders.png" alt="{L_SEEDERS}" title="{L_SEEDERS}" border="0">
</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/leechers.png" alt="{L_LEECHERS}" title="{L_LEECHERS}" border="0">
</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/peers.gif" alt="{L_ADDED_BY}" title="{L_ADDED_BY}" border="0">
</td>
</tr>
<!-- BEGIN torrent_varmys -->
<tr class="t-row">
<td class="ttable_col1" align="center"><a href="./torrents.php?cat=16">{torrent_varmys.CATEGORY}</a></td>
<td class="ttable_col2" nowrap="nowrap" align="left">
  <nobr>
    <p class="title">
       <nobr>
      <!-- IF torrent_varmys.NUKED --><img src="themes/Bitfarm/pics/nuked.gif" alt="{L_NUKED_TORRENT}" title="{L_NUKED_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmys.FREE_DL --><img src="themes/Bitfarm/pics/magic.gif" alt="{L_FREE_TORRENT}" title="{L_FREE_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF not torrent_varmys.LOCAL_T --><img src="themes/Bitfarm/pics/external.gif" alt="{L_EXTERNAL_TORRENT}" title="{L_EXTERNAL_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmys.DHT_INABLED --><span class="overlib" onmouseover="return overlib('{L_DHT_EXPL}',CAPTION, '{L_DHT_SUPORT}',TEXTFONT,'Verdana',TEXTCOLOR,'#FFFFFF',CAPTIONFONT,'Lucida Console, Verdana',LEFT,FGCOLOR,'#000000',BGCOLOR,'#6F7578',CAPICON,'themes/Bitfarm/pics/help.gif',BORDER,2,SHADOW,SHADOWOPACITY,40,SHADOWCOLOR,'#030303',SHADOWX,2,SHADOWY,2);" onmouseout="return nd();" style="cursor: help;">
      <img src="themes/Bitfarm/pics/dht.gif" alt="{L_DHT_SUPORT}" title="{L_DHT_SUPORT}" border="0"></span><!-- ENDIF -->
      <br />

      <a style="text-decoration: none;" href="details.php?id={torrent_varmys.ID}<!-- IF HIT_COUNT -->&amp;hit=1<!-- ENDIF -->" title="{torrent_varmys.FULL_NAME}">{torrent_varmys.SHORTNAME}</a>
      </nobr></p><i><u>{L_ADDED}: {torrent_varmys.DATE_ADDED}</u></i>
      </nobr></p><!-- IF torrent_varmys.CAN_DOWN_LOAD --><a class="index" href="download.php?id={torrent_varmys.ID}"><img style="border: medium none ;" alt="{L_DOWNLOAD}" title="{L_DOWNLOAD}" src="themes/Bitfarm/pics/download2.gif" align="right"></a><!-- ENDIF -->

      </nobr><br />
      <!-- IF torrent_varmys.BANNED -->
      <img src="themes/Bitfarm/pics/banned.png" alt="{L_BANNED_TORRENT}" title="{L_BANNED_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmys.CAN_EDIT -->
      <a href="edit.php?id={torrent_varmys.ID}"><img src="themes/Bitfarm/pics/edit.gif" alt="{L_BAN_EDIT}" title="{L_BAN_EDIT}" border="0"></a><!-- ENDIF -->

      <!-- IF torrent_varmys.CAN_DEL -->
      <a href="edit.php?op=delete&amp;id={torrent_varmys.ID}"><img src="themes/Bitfarm/pics/drop.gif" alt="{L_BAN_DELETE}" title="{L_BAN_DELETE}" border="0"></a><!-- ENDIF -->

      <!-- IF torrent_varmys.CAN_BAN -->
      <a href="edit.php?op=ban&amp;id={torrent_varmys.ID}"><img src="themes/Bitfarm/pics/ban.png" alt="{L_BAN_TORRENT}" title="{L_BAN_TORRENT}" border="0"></a><!-- ENDIF -->

      <!-- IF not torrent_varmys.LOCAL_T --><!-- IF torrent_varmys.REFRESH_T -->
      <a href="scrape-external.php?id={torrent_varmys.ID}&amp;tracker=&amp;return={S_RETURN}">
        <img src="themes/Bitfarm/pics/refresh.png" alt="{L_REFRESH_TORRENT}" title="{L_REFRESH_TORRENT}" border="0">
    </a>
      <!-- ELSE -->
      <img src="themes/Bitfarm/pics/refresh_gray.png" alt="{L_UPDATE_STATS}" title="{L_UPDATE_STATS}" border="0">
      <!-- ENDIF -->
      <!-- IF torrent_varmys.NEED_AUTH -->{torrent_varmys.AUTH_LINK}<!-- ENDIF --><!-- ENDIF -->
</td>
<td class="ttable_col1" align="center"><strong>{torrent_varmys.SEEDERS}</strong></td>
<td class="ttable_col1" align="center"><strong>{torrent_varmys.LEECHERS}</strong></td>
<td class="ttable_col1" align="center"><!-- IF torrent_varmys.ANONUMUS_UPLO -->{L_ANONUMUS} <!-- ELSE -->
    <a href="user.php?op=profile&amp;id={torrent_varmys.UPLODER_ID}"><font color="{torrent_varmys.UPLDER_COLOR}">{torrent_varmys.UPLOADERS_NAM}</font></a><!-- ENDIF -->
</td>
</tr>
<!-- END torrent_varmys -->
</tbody></table>
<br clear="all" />
    <span>
      <strong>{L_PAGES} {CURENT_PAGEMYS}/{TOTTAL_PAGESMYS}</strong>
    </span>
    <span>
      <!-- IF not PREV_PAGEMYS --><strong>&lt;&lt;&lt;&lt;</strong>
      <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p2={PREV_PAGEMYS}">&lt;&lt;&lt;&lt;</a><!-- ENDIF -->
{GENERATED_PAGESMYS}
        <!-- IF not NEXT_PAGEMYS --><strong>&gt;&gt;&gt;&gt;</strong>
        <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p2={NEXT_PAGEMYS}">&gt;&gt;&gt;&gt;</a><!-- ENDIF -->
        <span>
        </span>
      </span>
    </span>
  </span>
</td></tr>
</tbody></table>
<br clear="all" />
<!-- ELSE -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody>
<h3>{L_TOR_IMG_SEED}</h3>
<tr valign="middle">
<td class="row3">
<div id="nn&nbsp;">
{L_NO_SEED}
</div>
</td></tr>
</tbody></table>
<br clear="all" />
<!-- ENDIF -->
<!-- IF S_TORRENTSMYL -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody>
<h3>{L_TOR_IMG_LEECH}</h3>
<tr valign="middle">
<td class="row3">
<div id="nn&nbsp;">
<br clear="all" />
    <span>
      <strong>{L_PAGES} {CURENT_PAGEMYL}/{TOTTAL_PAGESMYL}</strong>
    </span>
    <span>
      <!-- IF not PREV_PAGEMYL --><strong>&lt;&lt;&lt;&lt;</strong>
      <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p3={PREV_PAGEMYL}">&lt;&lt;&lt;&lt;</a><!-- ENDIF -->
{GENERATED_PAGESMYL}
        <!-- IF not NEXT_PAGEMYL --><strong>&gt;&gt;&gt;&gt;</strong>
        <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p3={NEXT_PAGEMYL}">&gt;&gt;&gt;&gt;</a><!-- ENDIF -->
        <span>
        </span>
      </span>
    </span>
  </span>
<br />
<br />
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td class="ttable_head" align="center">{L_TYPE}</td>
<td class="ttable_head" align="left">{L_NAME}</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/seeders.png" alt="{L_SEEDERS}" title="{L_SEEDERS}" border="0">
</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/leechers.png" alt="{L_LEECHERS}" title="{L_LEECHERS}" border="0">
</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/peers.gif" alt="{L_ADDED_BY}" title="{L_ADDED_BY}" border="0">
</td>
</tr>
<!-- BEGIN torrent_varmyl -->
<tr class="t-row">
<td class="ttable_col1" style="padding: 0px;" align="center"><a href="./torrents.php?cat=16">{torrent_varmyl.CATEGORY}</a></td>
<td class="ttable_col2" align="left">
  <nobr>
    <p class="title">
       <nobr>
      <!-- IF torrent_varmyl.NUKED --><img src="themes/Bitfarm/pics/nuked.gif" alt="{L_NUKED_TORRENT}" title="{L_NUKED_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmyl.FREE_DL --><img src="themes/Bitfarm/pics/magic.gif" alt="{L_FREE_TORRENT}" title="{L_FREE_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF not torrent_varmyl.LOCAL_T --><img src="themes/Bitfarm/pics/external.gif" alt="{L_EXTERNAL_TORRENT}" title="{L_EXTERNAL_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmyl.DHT_INABLED --><span class="overlib" onmouseover="return overlib('{L_DHT_EXPL}',CAPTION, '{L_DHT_SUPORT}',TEXTFONT,'Verdana',TEXTCOLOR,'#FFFFFF',CAPTIONFONT,'Lucida Console, Verdana',LEFT,FGCOLOR,'#000000',BGCOLOR,'#6F7578',CAPICON,'themes/Bitfarm/pics/help.gif',BORDER,2,SHADOW,SHADOWOPACITY,40,SHADOWCOLOR,'#030303',SHADOWX,2,SHADOWY,2);" onmouseout="return nd();" style="cursor: help;">
      <img src="themes/Bitfarm/pics/dht.gif" alt="{L_DHT_SUPORT}" title="{L_DHT_SUPORT}" border="0"></span><!-- ENDIF -->
      <br />

      <a style="text-decoration: none;" href="details.php?id={torrent_varmyl.ID}<!-- IF HIT_COUNT -->&amp;hit=1<!-- ENDIF -->" title="{torrent_varmyl.FULL_NAME}">{torrent_varmyl.SHORTNAME}</a>
      </nobr></p><i><u>{L_ADDED}: {torrent_varmyl.DATE_ADDED}</u></i>
      </nobr></p><!-- IF torrent_varmyl.CAN_DOWN_LOAD --><a class="index" href="download.php?id={torrent_varmyl.ID}"><img style="border: medium none ;" alt="{L_DOWNLOAD}" title="{L_DOWNLOAD}" src="themes/Bitfarm/pics/download2.gif" align="right"></a><!-- ENDIF -->

      </nobr><br />
      <!-- IF torrent_varmyl.BANNED --><img src="themes/Bitfarm/pics/banned.png" alt="{L_BANNED_TORRENT}" title="{L_BANNED_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmyl.CAN_EDIT --><a href="edit.php?id={torrent_varmyl.ID}"><img src="themes/Bitfarm/pics/edit.gif" alt="{L_BAN_EDIT}" title="{L_BAN_EDIT}" border="0"></a><!-- ENDIF -->

      <!-- IF torrent_varmyl.CAN_DEL --><a href="edit.php?op=delete&amp;id={torrent_varmyl.ID}"><img src="themes/Bitfarm/pics/drop.gif" alt="{L_BAN_DELETE}" title="{L_BAN_DELETE}" border="0"></a><!-- ENDIF -->

      <!-- IF torrent_varmyl.CAN_BAN --><a href="edit.php?op=ban&amp;id={torrent_varmyl.ID}"><img src="themes/Bitfarm/pics/ban.png" alt="{L_BAN_TORRENT}" title="{L_BAN_TORRENT}" border="0"></a><!-- ENDIF -->

      <!-- IF not torrent_varmyl.LOCAL_T --><!-- IF torrent_varmyl.REFRESH_T --><a href="scrape-external.php?id={torrent_varmyl.ID}&amp;tracker=&amp;return={S_RETURN}"><img src="themes/Bitfarm/pics/refresh.png" alt="{L_REFRESH_TORRENT}" title="{L_REFRESH_TORRENT}" border="0"></a>

      <!-- ELSE --><img src="themes/Bitfarm/pics/refresh_gray.png" alt="{L_UPDATE_STATS}" title="{L_UPDATE_STATS}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmyl.NEED_AUTH -->{torrent_varmyl.AUTH_LINK}<!-- ENDIF --><!-- ENDIF -->
      <br />
      <span id="ID{torrent_varmyl.ID}">
      <a onclick="sndReq('op=view_details&amp;torrent={torrent_varmyl.ID}', 'ID{torrent_varmyl.ID}')"><img src="themes/Bitfarm/pics/plus.gif" alt="{L_TORRENT DETAILS}" title="{L_TORRENT DETAILS}" border="0"></a>
      </span>
</td>
<td class="ttable_col1" align="center"><strong>{torrent_varmyl.SEEDERS}</strong></td>
<td class="ttable_col1" align="center"><strong>{torrent_varmyl.LEECHERS}</strong></td>
<td class="ttable_col1" align="center"><!-- IF torrent_varmyl.ANONUMUS_UPLO -->{L_ANONUMUS} <!-- ELSE --> <a href="user.php?op=profile&amp;id={torrent_varmyl.UPLODER_ID}"><font color="{torrent_varmyl.UPLDER_COLOR}">{torrent_varmyl.UPLOADERS_NAM}</font></a><!-- ENDIF --></td>
</tr>
<!-- END torrent_varmyl -->
</tbody></table>
<br clear="all" />
    <span>
      <strong>{L_PAGES} {CURENT_PAGEMYL}/{TOTTAL_PAGESMYL}</strong>
    </span>
    <span>
      <!-- IF not PREV_PAGEmyl --><strong>&lt;&lt;&lt;&lt;</strong>
      <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p3={PREV_PAGEMYL}">&lt;&lt;&lt;&lt;</a><!-- ENDIF -->
{GENERATED_PAGESMYL}
        <!-- IF not NEXT_PAGEmyl --><strong>&gt;&gt;&gt;&gt;</strong>
        <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p3={NEXT_PAGEMYL}">&gt;&gt;&gt;&gt;</a><!-- ENDIF -->
        <span>
        </span>
      </span>
    </span>
  </span>
</td></tr>
</tbody></table>
<br clear="all" />
<!-- ELSE -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody>
<h3>{L_TOR_IMG_LEECH}</h3>
<tr valign="middle">
<td class="row3">
<div id="nn&nbsp;">
{L_NO_LEECH}
</div>
</td></tr>
</tbody></table>
<br clear="all" />
<!-- ENDIF -->
<!-- IF S_TORRENTSMYSN -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody>
<h3>{L_USER_SNATCH_LIST}</h3>
<tr valign="middle">
<td class="row3">
<div id="nn&nbsp;">
<br clear="all" />
    <span>
      <strong>{L_PAGES} {CURENT_PAGEMYSN}/{TOTTAL_PAGESMYSN}</strong>
    </span>
    <span>
      <!-- IF not PREV_PAGEMYN --><strong>&lt;&lt;&lt;&lt;</strong>
      <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p3={PREV_PAGEMYSN}">&lt;&lt;&lt;&lt;</a><!-- ENDIF -->
{GENERATED_PAGESMYL}
        <!-- IF not NEXT_PAGEMYN --><strong>&gt;&gt;&gt;&gt;</strong>
        <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p3={NEXT_PAGEMYSN}">&gt;&gt;&gt;&gt;</a><!-- ENDIF -->
        <span>
        </span>
      </span>
    </span>
  </span>
<br />
<br />
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td class="ttable_head" align="center">{L_TYPE}</td>
<td class="ttable_head" align="left">{L_NAME}</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/seeders.png" alt="{L_SEEDERS}" title="{L_SEEDERS}" border="0">
</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/leechers.png" alt="{L_LEECHERS}" title="{L_LEECHERS}" border="0">
</td>
<td class="ttable_head" align="center">
    <img src="themes/Bitfarm/pics/peers.gif" alt="{L_ADDED_BY}" title="{L_ADDED_BY}" border="0">
</td>
</tr>
<!-- BEGIN torrent_varmysn -->
<tr class="t-row">
<td class="ttable_col1" style="padding: 0px;" align="center">
    <a href="./torrents.php?cat=16">{torrent_varmysn.CATEGORY}</a>
</td>
<td class="ttable_col2" align="left">
  <nobr>
    <p class="title">
       <nobr>
      <!-- IF torrent_varmysn.NUKED --><img src="themes/Bitfarm/pics/nuked.gif" alt="{L_NUKED_TORRENT}" title="{L_NUKED_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmysn.FREE_DL --><img src="themes/Bitfarm/pics/magic.gif" alt="{L_FREE_TORRENT}" title="{L_FREE_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF not torrent_varmysn.LOCAL_T --><img src="themes/Bitfarm/pics/external.gif" alt="{L_EXTERNAL_TORRENT}" title="{L_EXTERNAL_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmysn.DHT_INABLED --><span class="overlib" onmouseover="return overlib('{L_DHT_EXPL}',CAPTION, '{L_DHT_SUPORT}',TEXTFONT,'Verdana',TEXTCOLOR,'#FFFFFF',CAPTIONFONT,'Lucida Console, Verdana',LEFT,FGCOLOR,'#000000',BGCOLOR,'#6F7578',CAPICON,'themes/Bitfarm/pics/help.gif',BORDER,2,SHADOW,SHADOWOPACITY,40,SHADOWCOLOR,'#030303',SHADOWX,2,SHADOWY,2);" onmouseout="return nd();" style="cursor: help;">
      <img src="themes/Bitfarm/pics/dht.gif" alt="{L_DHT_SUPORT}" title="{L_DHT_SUPORT}" border="0"></span><!-- ENDIF -->
      <br />

      <a style="text-decoration: none;" href="details.php?id={torrent_varmysn.ID}<!-- IF HIT_COUNT -->&amp;hit=1<!-- ENDIF -->" title="{torrent_varmysn.FULL_NAME}">{torrent_varmysn.SHORTNAME}</a>
      </nobr></p><!-- IF torrent_varmysn.CAN_DOWN_LOAD --><a class="index" href="download.php?id={torrent_varmysn.ID}"><img style="border: medium none ;" alt="{L_DOWNLOAD}" title="{L_DOWNLOAD}" src="themes/Bitfarm/pics/download2.gif" align="right"></a><!-- ENDIF -->

      </nobr><br />
      <!-- IF torrent_varmysn.BANNED --><img src="themes/Bitfarm/pics/banned.png" alt="{L_BANNED_TORRENT}" title="{L_BANNED_TORRENT}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmysn.CAN_EDIT --><a href="edit.php?id={torrent_varmysn.ID}"><img src="themes/Bitfarm/pics/edit.gif" alt="{L_BAN_EDIT}" title="{L_BAN_EDIT}" border="0"></a><!-- ENDIF -->

      <!-- IF torrent_varmysn.CAN_DEL --><a href="edit.php?op=delete&amp;id={torrent_varmysn.ID}"><img src="themes/Bitfarm/pics/drop.gif" alt="{L_BAN_DELETE}" title="{L_BAN_DELETE}" border="0"></a><!-- ENDIF -->

      <!-- IF torrent_varmysn.CAN_BAN --><a href="edit.php?op=ban&amp;id={torrent_varmysn.ID}"><img src="themes/Bitfarm/pics/ban.png" alt="{L_BAN_TORRENT}" title="{L_BAN_TORRENT}" border="0"></a><!-- ENDIF -->

      <!-- IF not torrent_varmysn.LOCAL_T --><!-- IF torrent_varmysn.REFRESH_T --><a href="scrape-external.php?id={torrent_varmysn.ID}&amp;tracker=&amp;return={S_RETURN}"><img src="themes/Bitfarm/pics/refresh.png" alt="{L_REFRESH_TORRENT}" title="{L_REFRESH_TORRENT}" border="0"></a>

      <!-- ELSE --><img src="themes/Bitfarm/pics/refresh_gray.png" alt="{L_UPDATE_STATS}" title="{L_UPDATE_STATS}" border="0"><!-- ENDIF -->

      <!-- IF torrent_varmysn.NEED_AUTH -->{torrent_varmysn.AUTH_LINK}<!-- ENDIF --><!-- ENDIF -->
      <br />
      <span id="ID{torrent_varmysn.ID}">
      <a onclick="sndReq('op=view_details&amp;torrent={torrent_varmysn.ID}', 'ID{torrent_varmysn.ID}')"><img src="themes/Bitfarm/pics/plus.gif" alt="{L_TORRENT DETAILS}" title="{L_TORRENT DETAILS}" border="0"></a>
      </span>
</td>
<td class="ttable_col1" align="center"><strong>{torrent_varmysn.SEEDERS}</strong></td>
<td class="ttable_col1" align="center"><strong>{torrent_varmysn.LEECHERS}</strong></td>
<td class="ttable_col1" align="center"><!-- IF torrent_varmysn.ANONUMUS_UPLO -->{L_ANONUMUS} <!-- ELSE --> <a href="user.php?op=profile&amp;id={torrent_varmysn.UPLODER_ID}"><font color="{torrent_varmysn.UPLDER_COLOR}">{torrent_varmysn.UPLOADERS_NAM}</font></a><!-- ENDIF --></td>
</tr>
<!-- END torrent_varmysn -->
</tbody></table>
<br clear="all" />
    <span>
      <strong>{L_PAGES} {CURENT_PAGEMYSN}/{TOTTAL_PAGESMYSN}</strong>
    </span>
    <span>
      <!-- IF not PREV_PAGEMYSN --><strong>&lt;&lt;&lt;&lt;</strong>
      <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p3={PREV_PAGEMYSN}">&lt;&lt;&lt;&lt;</a><!-- ENDIF -->
{GENERATED_PAGESMYL}
        <!-- IF not NEXT_PAGEMYSN --><strong>&gt;&gt;&gt;&gt;</strong>
        <!-- ELSE --><a href="user.php?op=profile&id={CP_UID}&p3={NEXT_PAGEMYSN}">&gt;&gt;&gt;&gt;</a><!-- ENDIF -->
        <span>
        </span>
      </span>
    </span>
  </span>
</td></tr>
</tbody></table>
<br clear="all" />
<!-- ELSE -->
<table class="tablebg" width="100%" cellspacing="0">
<tbody>
<h3>{L_USER_SNATCH_LIST}</h3>
<tr valign="middle">
<td class="row3">
<div id="nn&nbsp;">
{L_NO_SNATCHED}
</div>
</td></tr>
</tbody></table>
<br clear="all" />
<!-- ENDIF -->
    </div>
</div>
<!-- INCLUDE themes/Bitfarm/templates/over_all_footer.html -->