{$CA_BLOCK_START}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
{$CA_CAP_START}{L__MESSAGE_HISTORY} - {HISTORY_TITLE}{$CA_CAP_END}
<tr>
    <td class="row1"><div style="overflow: auto; width: 100%; height: 300px;">

        <table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
        <tr>
            <th width="22%">{L__AUTHOR}</th>
            <th>{L__MESSAGE}</th>
        </tr>
    <!-- BEGIN history_row -->
            <!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
            <td rowspan="2" align="{S_CONTENT_FLOW_BEGIN}" class="row" valign="top"><a name="{history_row.MSG_ID}"></a>
                <table width="150" cellspacing="0">
                <tr>
                    <td align="center" colspan="2"><span class="postauthor">{history_row.MESSAGE_AUTHOR_FULL}</span></td>
                </tr>
                </table>
            </td>
            <td class="row<!-- IF history_row.S_CURRENT_MSG --> history-current<!-- ENDIF -->" width="100%">
                <div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};"><strong>{L__PM_SUBJECT}:</strong>&nbsp;{history_row.SUBJECT}</div><div class="gensmall" style="float: {S_CONTENT_FLOW_END};"><strong>{L__FOLDER}:</strong>&nbsp;{history_row.FOLDER}</div>
            </td>
        </tr>

        <!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
            <td class="row" valign="top">
                <div id="message_{history_row.MSG_ID}"><div class="postbody">{history_row.MESSAGE}<br /><br />

                <div style="float: {S_CONTENT_FLOW_END}" class="postdetails"><strong>{L__SENT_AT}:</strong> {history_row.SENT_DATE}</div>
                <a href="{history_row.U_VIEW_MESSAGE}">{L__VIEW_PM}</a>
                <!-- IF history_row.U_POST_REPLY_PM --> | <a href="{history_row.U_POST_REPLY_PM}">{L__POST_REPLY}</a><!-- ENDIF -->
                </div></div>
            </td>
        </tr>

        <!-- IF history_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->
            <td class="gensmall row">&nbsp;</td>
            <td class="row"><div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};">&nbsp;<!-- IF history_row.U_PROFILE --><a href="{history_row.U_PROFILE}">{PROFILE_IMG}</a> <!-- ENDIF --> <!-- IF history_row.U_EMAIL --><a href="{history_row.U_EMAIL}">{EMAIL_IMG}</a> <!-- ENDIF -->&nbsp;</div> <div class="gensmall" style="float: {S_CONTENT_FLOW_END};"><!-- IF history_row.U_QUOTE --><a href="{history_row.U_QUOTE}">{QUOTE_IMG}</a> <!-- ENDIF -->&nbsp;</div></td>
        </tr>
        <tr>
            <td class="spacer" colspan="2"><img src="images/spacer.gif" alt="" width="1" height="1" /></td>
        </tr>
    <!-- END history_row -->
        </table>
    </div></td>
</tr>
</table>
{$CA_BLOCK_END}

<br clear="all" />