<table class="tablebg" width="100%" cellspacing="0">
<tr><td>
<div class="caption">
<div class="cap-left">
<div class="cap-right">
<a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnUsers_active_in_the_past_24_hours');">{L_USERS_ON_TODAY}</a>
</div>
</div>
</div>

</td></tr><tr valign="middle">
<td  class="row3" >
<div id="nnUsers_active_in_the_past_24_hours">
<!-- BEGIN user_today -->
<a href="user.php?op=profile&amp;id={user_today.ID}" title="{user_today.LAST_CLICK} {L_AGO}"><font color="{user_today.COLOR}">{user_today.USERNAME}</font></a>
            {user_today.LEVEL_ICON}
            <!-- IF user_today.WARNED --><img src="images/warning.gif" title="{L_WARNED}" alt="{L_WARNED}" /><!-- ENDIF -->
            <!-- IF user_today.DONER --><img src="images/donator.gif" height="16" width="16" title="{L_DONOR}" alt="{L_DONOR}" /><!-- ENDIF -->
<!-- IF not user_today.S_LAST_ROW -->, <!-- ENDIF -->
<!-- END user_today -->
</div>

</td></tr>
</table>
<br clear="all" />