<table class="tablebg" width="100%" cellspacing="0">
<tr><td>
<div class="caption">
<div class="cap-left">
<div class="cap-right">
New Video Clips
</div>
</div>
</div>
</td></tr><tr valign="middle">
<td  class="row3" ><div id="nnNew_Video_Clips">

<marquee  onmouseover="this.stop();" onmouseout="this.start();" width="100%" direction="left" loop="infinite" scrollamount="4">
<table border="1">
<tr>
<!-- BEGIN vidoe_clip -->
<td style="text-align: center;">
<a href="{SITE_URL}/youtube.php?op=show&amp;video=http://youtube.com/v/{vidoe_clip.LINK}">
<img title="{vidoe_clip.NAME}" src="http://i3.ytimg.com/vi/{vidoe_clip.LINK}/default.jpg" class="vimg120" qlicon="{vidoe_clip.LINK}" alt="{vidoe_clip.NAME}">
</a>
<br />
{vidoe_clip.NAME} 
</td>
<!-- END vidoe_clip -->
</tr>
</table>
</marquee>
</div>
</td></tr>
<tr>
<td colspan="7" valign="middle" align="center"></td>
</tr>
</table>
<br clear="all" >
