<table class="tablebg" width="100%" cellspacing="0">
  <tr>
    <td>
      <div class="caption">
        <div class="cap-left">
          <div class="cap-right">
            <a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnWho_s_On-line_');">{L_WHOS_ON_LINE}</a>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr valign="middle">
    <td  class="row3" >
	  <div id="nnWho_s_On-line_">
        <div id="users_simple" class="show">
          <p>
<!-- BEGIN user_online -->
<!-- IF user_online.SHOW -->
            <!-- IF user_online.SHOW_ICON -->*<!-- ENDIF --><a href="user.php?op=profile&amp;id={user_online.ID}"><font style='background-color: {user_online.COLOR};'>{user_online.USERNAME}</font></a>
			{user_online.LEVEL_ICON}
			<!-- IF user_online.WARNED --><img src="images/warning.gif" title="{L_WARNNED}" alt="{L_WARNNED}" /><!-- ENDIF -->
			<!-- IF user_online.DONER --><img src="images/donator.gif" height="16" width="16" title="{L_DONOR}" alt="{L_DONOR}" /><!-- ENDIF -->
<!-- ENDIF -->
<!-- END user_online -->
            <br />
            <br />
              <p>{L_LEGEND}
                <strong>
<!-- BEGIN legend -->
                  <a href="memberslist.php?mode=group&amp;g={legend.ID}" style="color: #{legend.COLOR}; font-weight: bold;">{legend.NAME}</a>
<!-- END legend -->
               </strong>
              </p>
              <div style='font-size: 8pt;' align="center">
			    <a href="javascript:advanced();">{L_ADV_ONLINE_MO}</a>
			  </div>
            </div>
            <div id="users_advanced" class="hide">
              <table border="1" width="100%" cellpadding="0" cellspacing="0">
                <thead>
                  <tr>
                    <td>
                      <p align="center"><strong>{L_USERNAME}</strong></p>
                    </td>
                    <td>
                      <p align="center"><strong>{L_RATIO}</strong></p>
                    </td>
                    <td>
                      <p align="center"><strong>{L_CURENT_BROWS}</strong></p>
                    </td>
                    <td>
                      <p align="center"><strong>{L_LOGEDIN_FOR}</strong></p>
                    </td>
                  </tr>
                </thead>
                <tbody>
<!-- BEGIN user_online -->
<!-- IF user_online.SHOW -->
                  <tr>
                    <td>
                      <p>
            <!-- IF user_online.SHOW_ICON -->*<!-- ENDIF --><a href="user.php?op=profile&amp;id={user_online.ID}"><font color="{user_online.COLOR}" style='background-color: #222;'>{user_online.USERNAME}</font></a>
			{user_online.LEVEL_ICON}
			<!-- IF user_online.WARNED --><img src="images/warning.gif" title="{L_WARNNED}" alt="{L_WARNNED}" /><!-- ENDIF -->
			<!-- IF user_online.DONER --><img src="images/donator.gif" height="16" width="16" title="{L_DONOR}" alt="{L_DONOR}" /><!-- ENDIF -->
					  </p>
                    </td>
                    <td>
					  <p>{user_online.RATIO}</p>
                    </td>
                    <td>
                      <p>{user_online.LAST_PAGE}</p>
                    </td>
                    <td>
                      <p>{user_online.ON_TIME}</p>
                    </td>
                  </tr>
<!-- ENDIF -->
<!-- END user_online -->
                </tbody>
              </table>
              <br />
              <p>{L_LEGEND}
                <strong>
<!-- BEGIN legend -->
                  <a href="memberslist.php?mode=group&amp;g={legend.NAME}" style="color: #{legend.COLOR}; font-weight: bold;">{legend.NAME}</a>
<!-- END legend -->
               </strong>
              </p>
			  <div style='font-size: 8pt;' align="center">
			    <a href="javascript:simple();">{L_SEMP_ONLINE_MOD}</a>
			  </div>
			</div>
			<br />
            <table class="tablebg" width="100%" cellspacing="">
                <tbody>
                    <tr>
                        <td colspan="2" align="center"><h2>{L_STATISTICS}</h2></td>
                    <tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="row1" width="50%"><span class="genmed">{L_STAT1} <strong>{S_USER_ON}</strong><br />{L_STAT2}</span></td>
                        <td class="row2" width="50%"><span class="genmed">{L_MOST_EVER_ON} <strong>{S_MOST_USERS_ON}</strong><br />{S_MOST_USERS_WN}</span></td>
                    </tr>
                    <tr>
                        <td class="row1" width="50%"><span class="genmed">{L_ONLINE_24HRS} <strong>{ON_NOW}</strong></span></td>
                        <td class="row2" width="50%"><span class="genmed">{L_TOTAL_REG_7D} <strong>{ON_REG_WEEK}</strong></span></td>
                    </tr>
                    <tr>
                        <td class="row1" width="50%"><span class="genmed">{L_TOTAL_REG_24} <strong>{ON_REG_DAY}</strong></span></td>
                        <td class="row2" width="50%"><span class="genmed">{L_TOTAL_USERS} <strong>{TOTAL_USERS}</strong></span></td>
                    </tr>
                    <tr>
                        <td class="row1" width="50%"><span class="genmed">{L_TOTAL_TORRENTS} <strong>{TOTTAL_TORRENTS}</strong></span></td>
                        <td class="row2" width="50%"><span class="genmed">{L_TOTAL_SHARED} <strong>{TOTAL_DATA}</strong></span></td>
                    </tr>
                    <tr>
                        <td class="row1" width="50%"><span class="genmed">{L_TOTAL_PEERS} <strong>{TOTAL_PEERS}</strong></span></td>
                        <td class="row2" width="50%"><span class="genmed">{L_TOTAL_SPEED} <strong>{TRANSFER_SPEED}</strong></span></td>
                    </tr>
                    <tr>
                        <td class="row1" width="50%"><span class="genmed">{L_TOTAL_SEEDERS} <strong>{TOTTAL_SEEDERS}</strong>&nbsp;{L_TOTAL_LEECHERS} <strong>{TOTAL_LEACHERS}</strong></span></td>
                        <td class="row2" width="50%"><span class="genmed">{L_MOST_CLIENT} <strong>{MOST_CLIENTS} ({M_CLIENT_CO})</strong></span></td>
                    </tr>
                </tbody>
            </table>
		  </div>
        </td>
      </tr>
      </tr>
    </table>
<br clear="all" />