<table class="tablebg" width="100%" cellspacing="0">
  <tr>
    <td>
      <div class="caption">
        <div class="cap-left">
          <div class="cap-right">
            <a class="c4" style="cursor: pointer;float:left;" onclick="toggle2('nnWho_s_On-line_');">Who's On-line?</a>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr valign="middle">
    <td  class="row3" >
	  <div id="nnWho_s_On-line_">
        <div id="users_simple" class="show">
          <p>
<!-- BEGIN user_online -->
<!-- IF user_online.SHOW -->
            <!-- IF user_online.SHOW_ICON -->*<!-- ENDIF --><a href="user.php?op=profile&amp;id={user_online.ID}"><font style='background-color: {user_online.COLOR};'>{user_online.USERNAME}</font></a>
			{user_online.LEVEL_ICON}
			<!-- IF user_online.WARNED --><img src="images/warning.gif" title="warned" alt="warned" /><!-- ENDIF -->
			<!-- IF user_online.DONER --><img src="images/donator.gif" height="16" width="16" title="donator" alt="donator" /><!-- ENDIF -->
<!-- ENDIF -->
<!-- END user_online -->
            <br>
            <br>
              <p>Legend: 
                <b>
<!-- BEGIN legend -->
                  <a href="memberslist.php?mode=group&amp;g={legend.ID}" style="color: {legend.COLOR}; font-weight: bold;">{legend.NAME}</a> 
<!-- END legend -->
               </b>
              </p>
              <div style='font-size: 8pt;' align="center">
			    <a href="javascript:advanced();">{L_ADV_ONLINE_MO}</a>
			  </div>
            </div>
            <div id="users_advanced" class="hide">
              <table border="1" width="100%" cellpadding="0" cellspacing="0">
                <thead>
                  <tr>
                    <td>
                      <p align="center"><b>User Name</b></p>
                    </td>
                    <td>
                      <p align="center"><b>Ratio</b></p>
                    </td>
                    <td>
                      <p align="center"><b>{L_CURENT_BROWS}</b></p>
                    </td>
                    <td>
                      <p align="center"><b>{L_LOGEDIN_FOR}</b></p>
                    </td>
                  </tr>
                </thead>
                <tbody>
<!-- BEGIN user_online -->
<!-- IF user_online.SHOW -->
                  <tr>
                    <td>
                      <p>
            <!-- IF user_online.SHOW_ICON -->*<!-- ENDIF --><a href="user.php?op=profile&amp;id={user_online.ID}"><font color="{user_online.COLOR}" style='background-color: #222;'>{user_online.USERNAME}</font></a>
			{user_online.LEVEL_ICON}
			<!-- IF user_online.WARNED --><img src="images/warning.gif" title="warned" alt="warned" /><!-- ENDIF -->
			<!-- IF user_online.DONER --><img src="images/donator.gif" height="16" width="16" title="donator" alt="donator" /><!-- ENDIF -->
					  </p>
                    </td>
                    <td>
					  <p>{user_online.RATIO}</p>
                    </td>
                    <td>
                      <p>{user_online.LAST_PAGE}</p>
                    </td>
                    <td>
                      <p>{user_online.ON_TIME}</p>
                    </td>
                  </tr>
<!-- ENDIF -->
<!-- END user_online -->
                </tbody>
              </table>
              <br>
              <p>Legend: 
                <b>
<!-- BEGIN legend -->
                  <a href="memberslist.php?mode=group&amp;g={legend.NAME}" style="color: {legend.COLOR}; font-weight: bold;">{legend.NAME}</a> 
<!-- END legend -->
               </b>
              </p>
			  <div style='font-size: 8pt;' align="center">
			    <a href="javascript:simple();">{L_SEMP_ONLINE_MOD}</a>
			  </div>
			</div>
			<br>
			<div>
			  <span class="genmed">In total there is <strong>{S_USER_ON}</strong> user online (based on users active over the past 5 minutes)
			    <br>Most users ever online was <strong>{S_MOST_USERS_ON}</strong> on {S_MOST_USERS_WN}
			  </span>
			</div>
			  <p>
			    <b>Total Users Online In Last 24Hours:</b>{ON_NOW}
				<br >
				<b>Total Registered Users In Last 7Days:</b>{ON_REG_WEEK}<br >
				<b>Total Registered Users In Last 24Hours:</b>{ON_REG_DAY}<br >
				<b>Total Registered Users:</b>{TOTAL_USERS}<br >
				<b>Total Torrents:</b>{TOTTAL_TORRENTS}<br >
				<b>Total shared data:</b>{TOTAL_DATA}<br >
				<b>Total Peers:</b>{TOTAL_PEERS}<br >
				<b>Total transfer speed:</b>{TRANSFER_SPEED}<br >
				<b>Total seeders:</b>{TOTTAL_SEEDERS}<br >
				<b>Total leechers:</b>{TOTAL_LEACHERS}<br >
				<b>Most used client:</b>{MOST_CLIENTS} ({M_CLIENT_CO})<br >
			  </p>
		  </div>
        </td>
      </tr>
      </tr>
    </table>
<br clear="all" >