<!-- INCLUDE themes/1thank/templates/admin/over_all_header.html -->

<a name="maincontent"></a>

<!-- IF S_RESTORE_PERMISSIONS -->

	<h1>{L__PERMISSIONS_TRANSFERRED}</h1>

	<p>{L__PERMISSIONS_TRANSFERRED_EXPLAIN}</p>

<!-- ELSE -->

	<h1>{L_TITLE}</h1>

	<p>{L_MAIN_INTRO_EXP}</p>

	<!-- IF S_VERSIONCHECK_FAIL -->
		<div class="errorbox notice">
			<p>{L__admupderror}</p>
			<p><a href="{U_VERSIONCHECK_FORCE}">{L__admwebupdate}</a></p>
		</div>
	<!-- ELSEIF not S_VERSION_UP_TO_DATE -->
		<div class="errorbox">
			<p>{L__admupdupdate}</p>
			<p><a href="{U_VERSIONCHECK_FORCE}">{L__admwebupdate}</a></p>
		</div>
	<!-- ENDIF -->


	<!-- IF S_REMOVE_INSTALL -->
		<div class="errorbox">
			<h3>{L__WARNING}</h3>
			<p>{L__REMOVE_INSTALL}</p>
		</div>
	<!-- ENDIF -->

	<!-- IF S_WRITABLE_CONFIG -->
		<div class="errorbox notice">
			<p>{L_WRITABLE_CONFIG}</p>
		</div>
	<!-- ENDIF -->

	<!-- IF S_PHP_VERSION_OLD -->
		<div class="errorbox notice">
			<p>{L__PHP_VERSION_OLD}</p>
		</div>
	<!-- ENDIF -->

	<table cellspacing="1">
		<caption>{L__SITE_STATS}</caption>
		<col class="col1" /><col class="col2" /><col class="col1" /><col class="col2" />
	<thead>
	<tr>
		<th>{L_BTSTATS}</th>
        <th>{L_VALUE}</th>
        <th>{L_BTSTATS}</th>
        <th>{L_VALUE}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{L__NUMBER_POSTS} </td>
		<td><strong>{TOTAL_POSTS}</strong></td>
		<td>{L__POSTS_PER_DAY} </td>
		<td><strong>{POSTS_PER_DAY}</strong></td>
	</tr>
	<tr>
		<td>{L__NUMBER_TOPICS} </td>
		<td><strong>{TOTAL_TOPICS}</strong></td>
		<td>{L_TOPICS_PER_DAY} </td>
		<td><strong>{TOPICS_PER_DAY}</strong></td>
	</tr>
	<tr>
		<td>{L_ADMTOTALUSERS} </td>
		<td><strong>{TOTAL_USERS}</strong></td>
		<td>{L__USERS_PER_DAY} </td>
		<td><strong>{USERS_PER_DAY}</strong></td>
	</tr>
	<tr>
		<td>{L_ADMTOTALTORRENTS} </td>
		<td><strong>{TOTAL_TORRENTS}</strong></td>
		<td>{L__TORRENTS_PER_DAY} </td>
		<td><strong>{TORRENTS_PER_DAY}</strong></td>
	</tr>
	<tr>
		<td>{L_TOTAL_PEERS} </td>
		<td><strong>{TOTAL_PEERS}</strong></td>
		<td>{L_ADMTOTALSPEED} </td>
		<td><strong>{PEER_SPEED}</strong></td>
	</tr>
	<tr>
		<td>{L_ADMTOTALSPEED} </td>
		<td><strong>{TOTAL_SEEDERS}</strong></td>
		<td>{L_ADMTOTALLEECHERS} </td>
		<td><strong>{TOTAL_LEECHERS}</strong></td>
	</tr>
	<tr>
		<td>{L__NUMBER_FILES} </td>
		<td><strong>{TOTAL_FILES}</strong></td>
		<td>{L__FILES_PER_DAY} </td>
		<td><strong>{FILES_PER_DAY}</strong></td>
	</tr>


	<tr>
		<td>{L__SITE_STARTED} </td>
		<td><strong>{START_DATE}</strong></td>
		<td>{L__AVATAR_DIR_SIZE} </td>
		<td><strong>{AVATAR_DIR_SIZE}</strong></td>
	</tr>
	<tr>
		<td>{L__DATABASE_SIZE} </td>
		<td><strong>{DBSIZE}</strong></td>
		<td>{L__UPLOAD_IMAGE_DIR_SIZE} </td>
		<td><strong>{UPLOAD_DIR_SIZE}</strong></td>
	</tr>
	<tr>
		<td>{L__DATABASE_SERVER_INFO} </td>
		<td><strong>{DATABASE_INFO}</strong></td>
		<td>{L__GZIP_COMPRESSION} </td>
		<td><strong>{GZIP_COMPRESSION}</strong></td>
	</tr>
	<tr>
		<td>{L__SITE_VERSION} </td>
		<td>
			<strong><a href="{U_VERSIONCHECK}" <!-- IF S_VERSION_UP_TO_DATE -->style="color: #529F00;"<!-- ELSE -->style="color: #C70002;"<!-- ENDIF --> title="{L__MORE_INFORMATION}">{BOARD_VERSION}</a></strong> [&nbsp;<a href="{U_VERSIONCHECK_FORCE}">{L__VERSIONCHECK_FORCE_UPDATE}</a>&nbsp;]
		</td>
	<!-- IF S_TOTAL_ORPHAN -->
		<td>{L__NUMBER_ORPHAN} </td>
		<td><strong>{TOTAL_ORPHAN}</strong></td>
	<!-- ELSE -->
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	<!-- ENDIF -->
	</tr>
	</tbody>
	</table>

	<!-- IF S_ACTION_OPTIONS -->
		<fieldset>
			<legend>{L__STATISTIC_RESYNC_OPTIONS}</legend>

			<form id="action_online_form" method="post" action="{U_ACTION_REST_ONLINE}">
				<dl>
					<dt><label for="action_online">{L__RESET_ONLINE}</label><br /><span>&nbsp;</span></dt>
					<dd><input type="hidden" name="action" value="online" /><input class="button2" type="submit" id="action_online" name="action_online" value="{L_RESET}" /></dd>
				</dl>
			</form>

			<form id="action_date_form" method="post" action="{U_ACTION_REST_DATE}">
				<dl>
					<dt><label for="action_date">{L__RESET_DATE}</label><br /><span>&nbsp;</span></dt>
					<dd><input type="hidden" name="action" value="date" /><input class="button2" type="submit" id="action_date" name="action_date" value="{L_RESET}" /></dd>
				</dl>
			</form>

			<form id="action_stats_form" method="post" action="{U_ACTION_SINK}">
				<dl>
					<dt><label for="action_stats">{L__RESYNC_STATS}</label><br /><span>{L__RESYNC_STATS_EXPLAIN}</span></dt>
					<dd><input type="hidden" name="action" value="sync_forum" /><input class="button2" type="submit" id="action_stats" name="action_stats" value="{L_RESYNC}" /></dd>
				</dl>
			</form>


			<!-- IF S_OWNER -->
			<form id="action_purge_cache_form" method="post" action="{U_ACTION_PURGE}">
				<dl>
					<dt><label for="action_purge_cache">{L__PURGE_CACHE}</label><br /><span>{L__PURGE_CACHE_EXPLAIN}</span></dt>
					<dd><input type="hidden" name="action" value="purge_cache" /><input class="button2" type="submit" id="action_purge_cache" name="action_purge_cache" value="{L_PURGE}" /></dd>
				</dl>
			</form>
			<!-- ENDIF -->
  		</fieldset>
	<!-- ENDIF -->

	<!-- IF .log -->
		<h2>{L__ADMIN_LOG}</h2>

		<p>{L__ADMIN_LOG_INDEX_EXPLAIN}</p>

		<div style="text-align: right;"><a href="{U_ADMIN_LOG}">&raquo; {L__VIEW_ADMIN_LOG}</a></div>

		<table cellspacing="1">
		<thead>
		<tr>
			<th>{L_USER_NAME}</th>
			<th style="text-align: center;">{L__IP}</th>
			<th style="text-align: center;">{L__TIME}</th>
			<th>{L_ACTIONS}</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN log -->
			<!-- IF log.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

				<td>{log.USERNAME}</td>
				<td style="text-align: center;">{log.IP}</td>
				<td style="text-align: center;">{log.DATE}</td>
				<td>{log.ACTION}</td>
			</tr>
		<!-- END log -->
		</tbody>
		</table>

		<br />

	<!-- ENDIF -->

	<!-- IF S_INACTIVE_USERS -->
		<h2>{L_INACTIVE_USERS}</h2>

		<p>{L_INACTIVE_USERS_EXPLAIN_INDEX}</p>

		<div style="text-align: right;"><a href="{U_INACTIVE_USERS}">&raquo; {L__VIEW_INACTIVE_USERS}</a></div>

		<table cellspacing="1">
		<thead>
		<tr>
			<th>{L_USERNAME}</th>
			<th>{L_JOINED}</th>
			<th>{L_INACTIVE_DATE}</th>
			<th>{L_VISITED}</th>
			<th>{L_INACTIVE_REASON}</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN inactive -->
			<!-- IF inactive.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

				<td style="vertical-align: top;">
					{inactive.USERNAME_FULL}
					<!-- IF inactive.POSTS --><br />{L_POSTS}: <strong>{inactive.POSTS}</strong> [<a href="{inactive.U_SEARCH_USER}">{L__SEARCH_USER_POSTS}</a>]<!-- ENDIF -->
				</td>
				<td style="vertical-align: top;">{inactive.JOINED}</td>
				<td style="vertical-align: top;">{inactive.INACTIVE_DATE}</td>
				<td style="vertical-align: top;">{inactive.LAST_VISIT}</td>
				<td style="vertical-align: top;">
					{inactive.REASON}
					<!-- IF inactive.REMINDED --><br />{inactive.REMINDED_EXPLAIN}<!-- ENDIF -->
				</td>
			</tr>
		<!-- BEGINELSE -->
			<tr>
				<td colspan="5" style="text-align: center;">{L_NO_INACTIVE_USERS}</td>
			</tr>
		<!-- END inactive -->
		</tbody>
		</table>

	<!-- ENDIF -->

<!-- ENDIF -->

<!-- INCLUDE themes/1thank/templates/admin/over_all_footer.html -->