<!-- INCLUDE themes/1thank/templates/admin/over_all_header.html -->
<script type="text/javascript" src="global.js"></script>
<script type="text/javascript" src="bbcode.js"></script>
<script type="text/javascript" src="themes/1thank/templates/attach.js"></script>

<script type="text/javascript" src="./java/tl.js"></script>
<h1>{L_TITLE}</h1>

<p>{L_EXPLAIN}</p>

<!-- IF POS == newsect -->
<form name="formdata" id="data" method="post" action="{U_ACTION}">
{HIDEN}
		<fieldset>
		<dl>
			<dt><label for="title">{L_SECTION_TITTLE}:</label><br /><span>{L_SECTION_TITTLE_EXP}</span></dt>
			<dd><input style="width: 400px;" name="title" type="text" value="{R_TITLE}"></dd>
		</dl>
		<dl>
			<dt><label for="rules">{L_RULES}:</label><br /></dt>
			<dd><span>
		<!-- IF S_SMILIES_ALLOWED -->

			<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">

			<tr>

				<td class="gensmall" align="center"><strong>{L__SMILIES}</strong></td>

			</tr>

			<tr>

				<td align="center">

					<!-- BEGIN smiley -->

						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>

					<!-- END smiley -->

				</td>

			</tr>

	

			<!-- IF S_SHOW_SMILEY_LINK -->

				<tr>

					<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popUp(this.href+'&amp;pop\=smilies&amp;form\=formdata&amp;area\=text', 300, 350, '_phpbbsmilies'); return false;">{L__MORE_SMILIES}</a></td>

				</tr>

			<!-- ENDIF -->

	

			</table>

		<!-- ENDIF -->
			</span>
			<span class="gensmall">{L_MESSAGE_BODY_EXP}&nbsp;</span>

			<hr />

			<script type="text/javascript">

				// <![CDATA[

		

				var form_name = 'formdata';

				var text_name = 'text';

				var user_name = '{U_USER_USERNAME}';

				var siteurl = '{SITE_URL}';

				// ]]>

			</script>		

	

			<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
    <td colspan="2">
        <script type="text/javascript">
        // <![CDATA[

        // Define the bbCode tags
        var bbcode = new Array();
        var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
        var imageTag = false;

        // Helpline messages
        var help_line = {
            b: '{LA__BBCODE_B_HELP}',
            i: '{LA__BBCODE_I_HELP}',
            u: '{LA__BBCODE_U_HELP}',
            q: '{LA__BBCODE_Q_HELP}',
            c: '{LA__BBCODE_C_HELP}',
            l: '{LA__BBCODE_L_HELP}',
            o: '{LA__BBCODE_O_HELP}',
            p: '{LA__BBCODE_P_HELP}',
            w: '{LA__BBCODE_W_HELP}',
            s: '{LA__BBCODE_S_HELP}',
            f: '{LA__BBCODE_F_HELP}',
            e: '{LA__BBCODE_E_HELP}',
            d: '{LA__BBCODE_D_HELP}',
            t: '{LA__BBCODE_T_HELP}',
            tip: '{L__STYLES_TIP}'
            <!-- BEGIN custom_tags -->
                ,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
            <!-- END custom_tags -->
        }

        // ]]>
        </script>
        <script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js"></script>

<!-- IF S_BBCODE_ALLOWED -->
        <input type="button" class="btnbbcode" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px;" onclick="bbstyle(0)" onmouseover="helpline('b')" onmouseout="helpline('tip')" />

        <input type="button" class="btnbbcode" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px;" onclick="bbstyle(2)" onmouseover="helpline('i')" onmouseout="helpline('tip')" />

        <input type="button" class="btnbbcode" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px;" onclick="bbstyle(4)" onmouseover="helpline('u')" onmouseout="helpline('tip')" />

        <!-- IF S_BBCODE_QUOTE -->
            <input type="button" class="btnbbcode" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onclick="bbstyle(6)" onmouseover="helpline('q')" onmouseout="helpline('tip')" />
        <!-- ENDIF -->

        <input type="button" class="btnbbcode" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onclick="bbstyle(8)" onmouseover="helpline('c')" onmouseout="helpline('tip')" />

        <input type="button" class="btnbbcode" accesskey="l" name="addbbcode10" value="List" style="width: 40px" onclick="bbstyle(10)" onmouseover="helpline('l')" onmouseout="helpline('tip')" />

        <input type="button" class="btnbbcode" accesskey="o" name="addbbcode12" value="List=" style="width: 40px" onclick="bbstyle(12)" onmouseover="helpline('o')" onmouseout="helpline('tip')" />

        <input type="button" class="btnbbcode" accesskey="t" name="addlitsitem" value="[*]" style="width: 40px" onclick="bbstyle(-1)" onmouseover="helpline('e')" onmouseout="helpline('tip')" />

        <!-- IF S_BBCODE_IMG -->
            <input type="button" class="btnbbcode" accesskey="p" name="addbbcode14" value="Img" style="width: 40px" onclick="bbstyle(14)" onmouseover="helpline('p')" onmouseout="helpline('tip')" />
        <!-- ENDIF -->

        <!-- IF S_LINKS_ALLOWED -->
            <input type="button" class="btnbbcode" accesskey="w" name="addbbcode16" value="URL" style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" onmouseover="helpline('w')" onmouseout="helpline('tip')" />
        <!-- ENDIF -->

        <!-- IF S_BBCODE_FLASH -->
            <input type="button" class="btnbbcode" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)" onmouseover="helpline('d')" onmouseout="helpline('tip')" />
        <!-- ENDIF -->

        <span class="genmed nowrap">{L__FONT_SIZE}: <select class="gensmall" name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" onmouseover="helpline('f')" onmouseout="helpline('tip')">
            <option value="50">{L__FONT_TINY}</option>
            <option value="85">{L__FONT_SMALL}</option>
            <option value="100" selected="selected">{L__FONT_NORMAL}</option>
            <option value="150">{L__FONT_LARGE}</option>
            <option value="200">{L__FONT_HUGE}</option>
        </select></span>
<!-- ENDIF -->
    </td>
</tr>
<!-- IF S_BBCODE_ALLOWED and .custom_tags -->
    <tr valign="middle" align="{S_CONTENT_FLOW_BEGIN}">
        <td colspan="2">
        <!-- BEGIN custom_tags -->
            <input type="button" class="btnbbcode" name="addbbcode{custom_tags.BBCODE_ID}" value="{custom_tags.BBCODE_TAG}" onclick="bbstyle({custom_tags.BBCODE_ID})"<!-- IF custom_tags.BBCODE_HELPLINE !== "" --> onmouseover="helpline('cb_{custom_tags.BBCODE_ID}')" onmouseout="helpline('tip')"<!-- ENDIF --> />
        <!-- END custom_tags -->
        </td>
    </tr>
<!-- ENDIF -->
<!-- IF S_BBCODE_ALLOWED -->
<tr>
    <td id="helpline"<!-- IF $S_SIGNATURE or S_EDIT_DRAFT --> colspan="2"<!-- ENDIF -->><input type="text" readonly name="helpbox" style="width:100%" class="helpline" value="{L__STYLES_TIP}" /></td>
    <!-- IF not $S_SIGNATURE and not S_EDIT_DRAFT -->
        <td class="genmed" align="center">{L__FONT_COLOR}</td>
    <!-- ENDIF -->
</tr>
<!-- ENDIF -->
			<tr>

				<td valign="top" style="width: 100%;"><textarea name="text" id="text" rows="15" cols="76" tabindex="3"  style="width: 98%;">{R_RULES}</textarea></td>

				<!-- IF S_BBCODE_ALLOWED -->

				<td width="80" align="center" valign="top">

					<script type="text/javascript">

					// <![CDATA[

						colorPalette('v', 7, 6)

					// ]]>

					</script>

				</td>

				<!-- ENDIF -->

			</tr>

			</table>
			</dd>
		</dl>
		<dl>
			<dt>
			<label for="public">{L_PUBLIC_VIEW}:</label><br />
			<span>{L_PUBLIC_VIEW_EXP}</span></dt>
			<dd>
				<select name="public">
					<option value="yes"<!-- IF R_PUBLIC --> selected<!-- ENDIF -->>{L_YES}</option>
					<option value="no"<!-- IF not R_PUBLIC --> selected<!-- ENDIF -->>{L_NO}</option>
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="group">{L_SELECT_GROUP}:</label><br /><span>{L_SELECT_GROUP_EXP}</span></dt>
			<dd>
				<select name="level[]" multiple="multiple">{GROUPS_LEVEL}</select>
			</dd>
		</dl>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
	</p>
</fieldset>
</form>
<!-- ELSE -->
<fieldset>
<dl>
<a href=admin.php?i=staff&op=modrules&act=newsect>{L_ADD_NEW_RULE_SECTION}</a>
</dl>
</fieldset>
<br clear="all" >
<!-- BEGIN rules_var -->
<fieldset>
<legend>
{rules_var.TITLE}
</legend>
<dl>
{rules_var.RULE}
</dl>
<br clear="all">
<legend>
{L_ADVANCED_RULE_INFO}
</legend>
<dl>
			<dt><label for="group">{L_IS_PUBLIC}:</label><br /><span>{L_IS_PUBLIC_EXP}</span></dt>
			<dd>
				{rules_var.R_PUBLIC}
			</dd>
</dl>
<dl>
			<dt><label for="group">{L_VIEWABL_BY}:</label><br /><span>{L_VIEWABL_BY_EXP}</span></dt>
			<dd>
<!-- BEGIN group -->
				<a href="memberslist.php?mode=group&amp;g=8" style="color: #{rules_var.group.COLOR}; font-weight: bold;">{rules_var.group.TITLE}</a>
<!-- END group -->
			</dd>
</dl>
<br clear="all">
<legend>
Options
</legend>
<dl>
			<dt><label for="group">{L_EDIT}:</label><br /><span></span></dt>
			<dd>
				<form method=post action=admin.php?i=staff&op=modrules&act=edit><input type=hidden value={rules_var.ID} name=id><input type=submit value='{L_EDIT}'></form>
			</dd>
</dl>

<dl>
			<dt><label for="group">{L_DELETE}:</label><br /><span></span></dt>
			<dd>
				<form name="delete-rule" method="post" action="admin.php?i=staff&op=modrules&act=delete"><input type="hidden" name="delete" value="{rules_var.ID}"> <input class="btn" type="submit" value="{L_DELETE}" ></form>
			</dd>
</dl>
<br clear="all">
</fieldset>
<br clear="all">
<!-- END rules_var -->
<!-- ENDIF -->
<!-- INCLUDE themes/1thank/templates/admin/over_all_footer.html -->