
                    </div>
                </div>
            <span class="corners-bottom"><span></span></span>
            <div class="clear"></div>
        </div>
        </div>
    </div>
    <div id="page-footer" style="color:#89CFF0;">
        <!-- IF S_COPYRIGHT_HTML -->
            {L_POWERED} <a style="color:#FFBF00;" target="_blank" href="http://www.btmanager.org/">{L_BTMGR}</a>&#8482; &copy; 2007 - 2018
            <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
        <!-- ENDIF -->

        <!-- IF DEBUG_OUTPUT -->
            <!-- IF S_COPYRIGHT_HTML --><br /><!-- ENDIF -->
            {DEBUG_OUTPUT}
        <!-- ENDIF -->
    </div>
</div>

</body>
</html>