
					</div>
				</div>
			<span class="corners-bottom"><span></span></span>
			<div class="clear"></div>
		</div>
		</div>
	</div>	
	<div id="page-footer">
		<!-- IF S_COPYRIGHT_HTML -->
			Powered by phpMyBitTorrent &copy; 2007, 2008, 2009, 2010, 2011 <a href="http://www.phpmybittorrent.com/">PMBT Team</a>
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- ENDIF -->

		<!-- IF DEBUG_OUTPUT -->
			<!-- IF S_COPYRIGHT_HTML --><br /><!-- ENDIF -->
			{DEBUG_OUTPUT}
		<!-- ENDIF -->
	</div>
</div>

</body>
</html>